#tnb-wrap{position:relative;background:linear-gradient(0deg, #e9e9e9 0%, #f5f5f5);border-bottom:1px solid #d8d8d8;font-size:12px;color:#999;padding:10px 0;}
    #tnb-wrap a{color:inherit;}
    #tnb-wrap .containerNew{display:flex;justify-content:space-between;}
    #tnb-wrap li{float:left;position:relative;}
    #tnb-wrap li+li{margin-left:10px;padding-left:11px;}
    #tnb-wrap li+li::before{content:"|";position:absolute;left:0;top:1px;color:#cecece;font-size:10px;}

#gnb-wrap{position:relative;}
    #gnb-wrap .logo .hb_menu{display:none;}
    #gnb-wrap .logo h1{margin:0 18px 0 0;}
    #gnb-wrap .search{top:-63px;}
    #gnb-wrap .bg_right{position:absolute;right:0;width:calc(50vw - 560px);height:100%;background:linear-gradient(90deg, #0072ab 0%, #003282);}
    #gnb-wrap .scrollable.gnb{display:flex;justify-content:space-between;float:none;width:calc(100% - 70px);}
    #gnb-wrap .scrollable.gnb > a{flex:1;text-align:center;font-size:16px;color:#fff;line-height:70px;}
    #gnb-wrap .scrollable.gnb > a:last-child{
        border-radius:35px 0 0 35px;background:linear-gradient(90deg, #00a8cd 0%, #0072ab);box-shadow:-5px 0 5px 0 rgba(0,0,0,.15);
    }
    #gnb-wrap.fixed-gnb .logo a{margin-right:20px;}
    #gnb-wrap.fixed-gnb .search{margin-left:117px;top:20px;}
    #gnb-wrap.fixed-gnb .bg_right{width:182px;}
    #gnb-wrap.fixed-gnb .scrollable.gnb{width:auto;}
    #gnb-wrap.fixed-gnb .scrollable.gnb > a{flex-shrink:0;width:180px;}
.gnb-inner-wrap{border-bottom:1px solid #d8d8d8;display:none;}
    .gnb-inner-wrap .all_menu{display:flex!important;justify-content:space-between;font-size:14px;width:calc(100% - 70px);margin:0;padding:0;}
    .gnb-inner-wrap .all_menu::after{content:"";position:absolute;top:0;right:-70px;width:70px;height:100%;background:#f9f9f9;}
    .gnb-inner-wrap .all_menu > div{flex:1;text-align:center;padding:32px 0;}
    .gnb-inner-wrap .all_menu > div:last-child{background:#f9f9f9;}
    .gnb-inner-wrap .all_menu > div a{display:block;}
    .gnb-inner-wrap .all_menu > div a+a{margin-top:12px;}
    .gnb-inner-wrap .noti_box{border-top:1px solid #d8d8d8;padding:13px 0;}
    .gnb-inner-wrap .noti_box .notice_wrap{float:left;width:calc(((100% - 70px) / 7) * 5);height:26px;overflow:hidden;}
    .gnb-inner-wrap .noti_box .notice_wrap .tit{position:relative;float:left;font-size:14px;font-weight:700;line-height:26px;padding-left:34px;}
    .gnb-inner-wrap .notice_wrap .tit::before{
        content:"";position:absolute;top:0;left:0;width:26px;height:26px;background:url(../images/ico_innergnb.png) 0 0;
    }
    .gnb-inner-wrap .noti_box .rcmenu_wrap{float:right;}
    .gnb-inner-wrap .noti_box .rcmenu_wrap a{display:inline-block;position:relative;font-size:14px;font-weight:700;line-height:26px;padding-left:34px;}
    .gnb-inner-wrap .noti_box .rcmenu_wrap a+a{margin-left:16px;}
    .gnb-inner-wrap .noti_box .rcmenu_wrap a:nth-child(1)::before{
        content:"";position:absolute;top:0;left:0;width:26px;height:26px;background:url(../images/ico_innergnb.png) -26px 0;
    }
    .gnb-inner-wrap .noti_box .rcmenu_wrap a:nth-child(2)::before{
        content:"";position:absolute;top:0;left:0;width:26px;height:26px;background:url(../images/ico_innergnb.png) -52px 0;
    }
    .gnb-inner-wrap .noti_box .notice_wrap .noti_list{float:left;margin-left:16px;font-size:13px;line-height:26px;max-width:50%;}
    .gnb-inner-wrap .noti_box .notice_wrap .noti_list > div{width:100%;height:26px;}
    #gnb-wrap.fixed-gnb .gnb-inner-wrap .all_menu{width:auto;margin:0 182px;}
    #gnb-wrap.fixed-gnb .gnb-inner-wrap .all_menu::after{right:-182px;width:182px;}
    #gnb-wrap.fixed-gnb .gnb-inner-wrap .noti_box{padding:13px 182px;}
.modal_search_wrapper{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:5000;display:none;}
    .modal_search_wrapper .containerNew{background-color:#fff;border-radius:16px;padding:60px;top:50%;transform:translateY(-50%);}
	.modal_search_wrapper .search_menu .btn_search_close{position:absolute;top:16px;right:32px;cursor:pointer;font-size:14px; color:#38bab2;}
	.modal_search_wrapper .search_menu .btn_search_close>img {margin:0 0 0 5px;}
	.modal_search_wrapper .search_menu>form>input.menu_search {float:left;width:calc(100% - 70px); padding:22px 15px 21px; font-size:18px;border:3px #000;border-style:none none solid;}
	.modal_search_wrapper .search_menu>form>input.menu_search:focus {outline:none;}
	.modal_search_wrapper .search_menu>form>input[type='submit']{float:left;width:70px;height:70px;border:3px #000;border-style:none none solid;background:#fff url(https://www.jobaba.net/resource/images/main/btn_searchbar02.png) no-repeat 50% 50%;text-indent:-999999px;}
	.modal_search_wrapper .search_menu .search_list {width:100%;margin:50px 0 0 0;padding:0 10px; }
	.modal_search_wrapper .search_menu .search_rank {position:relative;width:66.6%;border-right:solid 1px #eeeeee;float:left;padding:0 30px;}
	.modal_search_wrapper .search_menu .search_rank>p.tit {font-size:24px;color:#000;margin:0 0 30px 0;}
	.modal_search_wrapper .search_menu .search_rank>ul>li{float:left;width:50%;margin:0 0 10px 0;}
	.modal_search_wrapper .search_menu .search_rank>ul>li span.rank{color:#38bab2;font-size:14px;margin:0 10px 0 0;width:15px;display:inline-block;}
	.modal_search_wrapper .search_menu .search_rank>ul>li span.keyword{color:#666666;font-size:14px;}
	.modal_search_wrapper .search_menu .search_tag{position:relative;width:33.3%;float:left;padding:0 30px;}
	.modal_search_wrapper .search_menu .search_tag>p.tit{font-size:24px;color:#000;margin:0 0 30px 0;}
	.modal_search_wrapper .search_menu .search_tag>ul{display:inline-block;}
	.modal_search_wrapper .search_menu .search_tag>ul>li{border:solid 1px #e2e2e2;font-size:14px;color:#666666;border-radius:3px;padding:5px 10px;float:left;margin:0 10px 10px 0;}
	.modal_search_wrapper .search_menu .search_tag>ul>li>a{display:block;width:100%;height:100%; }
	.modal_search_wrapper .search_menu .search-title.layer-box{position:absolute;background:#fff;width:calc(100% - 80px);height:auto;z-index:999;padding:20px 20px 10px 20px; border:solid 1px #bec8d8;}
	.modal_search_wrapper .search_menu .search-title.layer-box ul li{margin:0 0 10px 0;font-size:18px;}
	.modal_search_wrapper .search_menu .search-title.layer-box ul li strong{color:#38bab2;}
	.modal_search_wrapper .search_menu .search-title.layer-box .search_close{position:absolute;right:20px;width:21px;height:12px;text-indent:-10000px;border:none;background:url('https://www.jobaba.net/resource/images/btn_remote_close.png') no-repeat 50% 50%;}
	.modal_search_wrapper .search_menu .search-title.layer-box .btn_g{background:#f9fafc;padding:10px 20px;margin:10px -20px -20px -20px;}
	.modal_search_wrapper .search_menu .search-title.layer-box .btn_g button{float:right;border:none;background:none;font-size:14px;letter-spacing:-1px;}
	.modal_search_wrapper .search_menu .search-title.layer-box .btn_g button:hover{text-decoration:underline;font-weight:700;}


@media all and (max-width:1024px){
    #gnb-wrap .scrollable.gnb{width:100%;}
    #gnb-wrap .bg_right{width:calc(50vw - 46%);}
    #gnb-wrap.fixed-gnb .search{margin-left:30px;margin-right:30px;}
    #gnb-wrap.fixed-gnb .bg_right{width:90px;}
    #gnb-wrap.fixed-gnb .gnb-inner-wrap .all_menu{margin:0 90px 0 182px;padding:0;font-size:13px;letter-spacing:-.5px;}
    #gnb-wrap.fixed-gnb .gnb-inner-wrap .noti_box{padding:13px 90px 13px 182px;}
    #gnb-wrap.fixed-gnb .search .search-bar .dummy_search{margin:0;}
}

@media all and (max-width:768px){
    #tnb-wrap{display:none;}
    #gnb-wrap .logo .hb_menu{display:inline-block;}
    #gnb-wrap .search{top:0;}
    #gnb-wrap .logo h1{margin:0 12px 0 16px;}
    #gnb-wrap .bg_right{display:none;}
    #gnb-wrap .scrollable.gnb{width:auto;}
    #gnb-wrap .scrollable.gnb > a{color:#000;padding:0 12px;}
    #gnb-wrap .scrollable.gnb > a:last-child{color:#fff;padding:0 12px 0 24px;}
    #gnb-wrap .gnb-inner-wrap{display:block!important;}
    #gnb-wrap .gnb-inner-wrap .all_menu{flex-wrap:wrap;flex-direction:column;width:100%;padding:16px 0;}
    #gnb-wrap .gnb-inner-wrap .all_menu::after{display:none;}
    #gnb-wrap .gnb-inner-wrap .all_menu div{text-align:left;width:calc(100% - 32px);margin:0 auto;padding:16px 0;}
    #gnb-wrap .gnb-inner-wrap .all_menu div > a{float:left;width:50%;line-height:2;}
    #gnb-wrap .gnb-inner-wrap .all_menu div > a+a{margin-top:0;}
    #gnb-wrap .gnb-inner-wrap .all_menu div::before{display:block;font-size:18px;font-weight:700;margin:4px 0 8px;}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(1)::before{content:"취업진단";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(2)::before{content:"취업컨설팅";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(3)::before{content:"취업교육";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(4)::before{content:"채용정보";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(5)::before{content:"지원정책";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(6)::before{content:"참여소통";}
    #gnb-wrap .gnb-inner-wrap .all_menu div:nth-child(7)::before{content:"기업지원";}
    #gnb-wrap .gnb-inner-wrap .all_menu > div:last-child{background:none;}
    #gnb-wrap .gnb-inner-wrap .noti_box{display:none;}
    .modal_search_wrapper{position:absolute;}
    .modal_search_wrapper .containerNew{width:100%;height:100%;padding:32px;top:0;transform:none;border-radius:0;}
    .modal_search_wrapper .search_menu .btn_search_close{top:8px;}
    .modal_search_wrapper .search_menu .search_list{margin:30px 0 0 0;}
    .modal_search_wrapper .search_menu .search_rank, .modal_search_wrapper .search_menu .search_tag{float:none;width:100%;padding:0;margin-top:16px;}
    .modal_search_wrapper .search_menu .search_rank>p.tit, .modal_search_wrapper .search_menu .search_tag>p.tit{margin:16px 0;}
}