@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.gBold{font-family: 'GmarketSansBold','Noto Sans KR';}
.gFont{font-family: 'GmarketSansMedium','Noto Sans KR';}
.f20 {font-size: 20px}
.f15 {font-size: 15px}
.mt5{margin-top: 5px}
.white{color: #fff}
.gray{color: #666}
.gray02{color: #999}
.tct{text-align: center}

/* 온라인채용박람회 메인 */
.exhb_main .exhb_header{background: url(../images/exhb/header_bg.png) no-repeat;background-size: cover}
.exhb_main .exhb_header .containerNew{background: url(../images/exhb/header_img.png) no-repeat right 90px top 40px;padding: 70px 0}

.exhb_main .exhb_header .top{padding-left: 100px}
.exhb_main .exhb_header h2{color: #fff;text-shadow: 0 1px 6px #13248f;font-size: 50px;letter-spacing: -1px}
.exhb_main .exhb_header h2 span {color: #ffed01}
.exhb_main .exhb_header .f20{text-shadow: 0 1px 6px #13248f;line-height: 1.5;letter-spacing: -0.3px}
.exhb_main .exhb_header .bt{display: flex;margin-top: 50px;justify-content: space-between}
.exhb_main .exhb_header .bt .item{width: calc(33.333% - 16.666px);padding: 30px 10px;border-radius: 10px}
.exhb_main .exhb_header .bt  .item01{background: url(/resource/images/exhb/header_img01.png) no-repeat left 10px center rgba(0, 18, 188, 0.6)}
.exhb_main .exhb_header .bt  .item02{background: url(/resource/images/exhb/header_img02.png) no-repeat left 10px bottom rgba(0, 18, 188, 0.6)}
.exhb_main .exhb_header .bt  .item03{background: url(/resource/images/exhb/header_img03.png) no-repeat left 10px center rgba(0, 18, 188, 0.6)}
.exhb_main .exhb_header .bt  p {width: calc(100% - 180px);margin-left: auto;word-break: keep-all}

.exhb_wrap .exhb_tit{font-size: 24px;text-align: center;font-weight: bold}
.ex_line{border: 0;width: 100%;height: 1px;background: #000;margin: 25px 0}
.exhb_wrap .new_company_story_wrap{background: url(/resource/images/exhb/list_bg.png) no-repeat #dbeeff bottom  center;padding: 60px 0;background-size: cover}
.list_search_wrap.sty4{background: none;padding: 0;border: 0;display: flex;justify-content: space-between;}
.list_search_wrap.sty4 select{border: 0;font-size: 14px;color: #787878;border-radius: 5px;background: url(/resource/images/exhb/select_arrow.png) no-repeat right 15px center;padding: 15px ;height: auto;width: 200px !important}
.list_search_wrap.sty4 input{border-radius: 5px;padding: 15px;font-size: 14px;width: calc(100% - 376px);border: 0 !important}
.list_search_wrap.sty4 .btn_d_reset{background: #38bab2;border-radius: 5px;color: #fff;font-size: 16px;font-weight: 500;width: 156px !important;}

.exhb_wrap .tag{display: flex;margin-top: 20px;flex-wrap: wrap}
/*.exhb_wrap .tag li:before{content: '#';}*/
.exhb_wrap .tag li{margin-right: 5px;font-size: 15px;}

.new_company_story_list{display: flex;flex-wrap: wrap;}
.new_company_story_list .items{width: calc(25% - 15px);margin-right: 20px;margin-top: 20px;background: #fff;border-radius: 10px;overflow: hidden;}
.new_company_story_list .items:nth-child(4n){margin-right: 0}
.new_company_story_list .items .txt{padding: 20px 25px;display: flex;flex-direction: column}
.new_company_story_list .items .prog{font-size: 14px;font-weight: 500;}
.new_company_story_list .items .prog.st4{color: #f6ac50}
.new_company_story_list .items .prog.st1{color: #00a8cd}
.new_company_story_list .items .prog.st2{color: #adadad}
.new_company_story_list .items .t{font-size: 18px;line-height: 1.6rem;height: 3.2rem;    display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient:vertical; overflow: hidden;text-overflow: ellipsis;word-break: break-all;width: 100%;margin: 15px 0}
.new_company_story_list .items ul{border-top: 1px solid #e6e6e6;padding-top: 15px;}
.new_company_story_list .items  ul li{font-size: 14px;color: #787878;}
.new_company_story_list .items img{width:100%;height:179px;overflow:hidden;}
.new_company_story_list .items.end img{ -webkit-filter: grayscale(100%) brightness(50%);filter: grayscale(100%) brightness(50%);filter: grayscale(100%) ;filter: gray; /* IE6-9 */-webkit-filter: grayscale(1);}
.new_company_story_list .items a:hover .t,
.new_company_story_list .items a:active .t,
.new_company_story_list .items a:focus .t{text-decoration: underline}

.new_company_story_list .items_empty{width: 100%;margin-top: 20px;background: #fff;border-radius: 10px;overflow: hidden;padding:10px;}
.new_company_story_list .items_empty .txt{font-size: 14px;font-weight: 500;}

.eh_cst{margin: 60px 0;}
.eh_cst .eh_cst_cont{display: flex;flex-wrap: wrap;}
.eh_cst .eh_cst_cont  .item {width: calc(33.333% - 13.333px);margin-right: 20px;margin-bottom: 30px;}
.eh_cst .eh_cst_cont .item:nth-child(3n){margin-right: 0}
.eh_cst .eh_cst_cont .item:nth-child(4),
.eh_cst .eh_cst_cont .item:nth-child(5),
.eh_cst .eh_cst_cont .item:nth-child(6){margin-bottom: 0}
.eh_cst .eh_cst_cont .item a {display: flex;justify-content: space-between}
.eh_cst .eh_cst_cont .item a:hover .desc,
.eh_cst .eh_cst_cont .item a:active .desc,
.eh_cst .eh_cst_cont .item a:focus .desc{text-decoration:underline}
.eh_cst .eh_cst_cont .item .ico{width: 146px;height: 146px;border-radius: 15px;}
.eh_cst .eh_cst_cont .item .txt{width: calc(100% - 166px);}
.exhb_sub .eh_cst .eh_cst_cont .item .txt .tit{font-size: 17px;word-break: keep-all;font-weight: 500}
.exhb_main .eh_cst .eh_cst_cont .item .txt .tit{font-size: 20px;margin-bottom: 5px;word-break: keep-all;font-weight: 500}
.eh_cst .eh_cst_cont .item  a{color:#010101}

.eh_cst .eh_cst_cont .item .txt .desc{color: #666;font-size: 16px;word-break: keep-all}
.eh_cst .eh_cst_cont .item.item01 .ico{background: url(/resource/images/exhb/cst_ico01.png) no-repeat center #69c35d;}
.eh_cst .eh_cst_cont .item.item02 .ico{background: url(/resource/images/exhb/cst_ico02.png) no-repeat center #28c895;}
.eh_cst .eh_cst_cont .item.item03 .ico{background: url(/resource/images/exhb/cst_ico03.png) no-repeat center #ff6473;}
.eh_cst .eh_cst_cont .item.item04 .ico{background: url(/resource/images/exhb/cst_ico04.png) no-repeat center #ffbb00;}
.eh_cst .eh_cst_cont .item.item05 .ico{background: url(/resource/images/exhb/cst_ico05.png) no-repeat center #3c7cff;}
.eh_cst .eh_cst_cont .item.item06 .ico{background: url(/resource/images/exhb/cst_ico06.png) no-repeat center #fa9449;}

.exhb_wrap .slick-dots{text-align: center;position: static;}
.exhb_wrap .slick-dots li{margin: 0 5px;cursor: pointer;display: inline-block;}
.exhb_wrap .slick-dots li button{background: #e5e5e5;border-radius: 50%;width: 15px;height: 15px;text-indent: -9999px;}
.exhb_wrap .slick-dots .slick-active button{background: #00a8cd}

/* 온라인 박람회_상세 */
.exhb_sub_header {height:299px;overflow:hidden}
.exhb_sub_header img{width:100%;height:100%;display:block}
.exhb_wrap .tabs {margin: 50px 0;display: flex;}
.exhb_wrap .tabs li {width: 50%;text-align: center;border-bottom: 3px solid #e1e1e1;padding-bottom: 15px}
.exhb_wrap .tabs li  a {color: #666;font-size: 18px;font-weight: 500;display: block;width: 100%;}
.exhb_wrap .tabs li:hover,
.exhb_wrap .tabs li:active,
.exhb_wrap .tabs li:focus{border-bottom: 3px solid #00a8cd;}
.exhb_wrap .tabs li:hover a,
.exhb_wrap .tabs li:active a,
.exhb_wrap .tabs li:focus a {color: #00a8cd}
.exhb_wrap .tabs li.active{border-bottom: 3px solid #00a8cd;}
.exhb_wrap .tabs li.active a{color: #00a8cd}
.exhb_wrap .onjob_view{margin: 50px 0}

.exhb_wrap .onjob_view .ov_tit .tit{font-weight: bold;font-size: 32px;color:  #00A8CD}

.exhb_wrap .onjob_view .top{border-bottom: 1px solid #000;padding-bottom: 20px;margin-bottom: 20px}
.exhb_wrap .ov_tit {text-align: center;}
.exhb_wrap .ov_tit .tit{font-size: 24px;font-weight: bold;}
.exhb_wrap .ov_tit .desc{font-size: 18px;color: #666;margin-top:5px}
.exhb_wrap .onjob_view .txtSet{display: flex;}
.exhb_wrap .onjob_view .txtSet > div {width: 50%;}
.exhb_wrap .onjob_view .txtSet > div:nth-child(1){padding-right: 40px}
.exhb_wrap .onjob_view .txtSet > div + div{border-left: 1px solid rgba(0, 0, 0, 0.2);padding-left: 40px;}
.exhb_wrap .onjob_view .txtSet dl{padding-bottom: 10px;display: flex;align-items: center;}
.exhb_wrap .onjob_view .txtSet dl dt{font-size: 16px;text-align: center;width: 130px;background: #caf1fa;padding: 10px;border-radius: 10px;font-weight: 500;margin-right: 20px}
.exhb_wrap .onjob_view .txtSet dl dd{width: calc(100% - 150px)}
.exhb_wrap .onjob_view .txtSet dl dd{color: #666;font-size: 16px}
.exhb_wrap .onjob_view .list_wrap{display: flex;justify-content: space-between;margin: 30px 0 40px 0}
.exhb_wrap .onjob_view .list_wrap .list3 {width: calc(50% - 40px)}
.exhb_wrap .onjob_view .list_wrap .list3 li{color: #666;margin-bottom: 5px;word-break: keep-all}
.exhb_wrap .onjob_view .list_wrap .list3 li:last-child{margin-bottom: 0}
.exhb_wrap .onjob_view .view_Detail{background: #effcff;padding: 30px;border-radius: 10px;}
.exhb_wrap .onjob_view .view_Detail .vTit{font-size: 20px;font-weight: 500;margin-bottom: 20px;}
.exhb_wrap .onjob_view .view_Detail  .txt{font-size: 16px;color: #666666}
.exhb_wrap .attend_area{margin: 50px 0}
.exhb_wrap .attend_area .step{display: flex;justify-content: space-between}
.exhb_wrap .attend_area .tab_content{max-width: 1000px;margin: auto;}
.exhb_wrap .attend_area .step .arrow{background: url(/resource/images/exhb/ap_arrow.png) no-repeat;width: 16px;height: 100%;background-size:16px;display:flex;text-indent: -9999px}
.exhb_wrap .attend_area .step > div:last-child:after{display: none}
.exhb_wrap .attend_area .step div span{font-size: 16px;display: block;margin-bottom: 5px}
.exhb_wrap .attend_area .step div  p{font-size: 20px;}
.exhb_wrap .attend_area .trt{text-align: right;margin-top: 30px;color: #666}
.exhb_wrap .attend_area .btn_wrap{text-align: center;}
.exhb_wrap .attend_area .btn_wrap .eh_btn{display: inline-block;font-size: 16px;font-weight: 500;color: #fff;background: #00a8cd;padding: 10px 30px;border-radius: 5px;font-weight:bold}

.exhb_wrap .at_cpn{background: url(/resource/images/exhb/sv_bg01.png) no-repeat center;background-size: cover;padding: 50px 0;}
.exhb_wrap .at_cpn_list{margin-top: 25px;padding-top: 25px;border-top: 1px solid #000;position: relative;}
.exhb_wrap .at_cpn_list .item{background: #fff;border-radius: 15px;overflow: hidden;height: 100% }
.exhb_wrap .at_cpn_list .slick-track{display: flex !important;margin-left:0;margin-right:0}
.exhb_wrap .at_cpn_list .slick-list {margin: 0 -10px;}
.exhb_wrap .at_cpn_list .slick-slide {margin: 0 10px;height: inherit !important;}
.exhb_wrap .at_cpn_list .slick-slide > div {height: 100%}
.exhb_wrap .at_cpn_list .img{height: 120px;display: flex;justify-content: center;align-items: center;}
.exhb_wrap .at_cpn_list .img.logo {border-bottom: 1px solid #eee;}
.exhb_wrap .at_cpn_list .img.logo img{max-width: 80%;max-height: 80px}
.exhb_wrap .at_cpn_list .img:not(.logo) img{width: 100%;height: 100%;}
.exhb_wrap .at_cpn_list  .txt{padding: 20px 10px;text-align: center;display: flex;flex-direction: column;height: calc(100% - 120px)}
.exhb_wrap .at_cpn_list  .txt .name{font-size: 18px;margin-bottom: 5px;line-height: 1.3rem;max-height: 2.6rem;    display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient:vertical; overflow: hidden;text-overflow: ellipsis;}
.exhb_wrap .at_cpn_list  .txt .desc{font-size: 14px;margin-bottom: 10px;color: #666;line-height: 1.3rem;height: 2.6rem;    display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient:vertical; overflow: hidden;text-overflow: ellipsis;}
.exhb_wrap .at_cpn_list  .txt .jobPost{font-size: 14px;margin-top: auto;font-weight: 500;}
.exhb_wrap .at_cpn_list .cpn-arrow{font-size: 14px;font-weight: 500;position: absolute;top: -50px}
.exhb_wrap .at_cpn_list .cpn-prev{right: 25px}
.exhb_wrap .at_cpn_list .cpn-next{right: 0}

.exhb_wrap .des_sub{background: url(/resource/images/exhb/sv_bg02.png) no-repeat top center;background-size: cover}
.exhb_wrap .des_wrap .des_sch{padding: 6px 20px;max-width: 420px;margin-left: auto}
.exhb_wrap .des_wrap .des_sch input {border: 0}
.exhb_wrap.exhb_sub .eh_cst_cont{flex-wrap: nowrap;justify-content: space-between}

.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item{width: calc(16.666% - 16.666px);margin-right: 20px;margin-bottom: 0}
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item a{flex-direction: column;}
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item a:hover,
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item a:active,
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item a:focus{text-decoration: underline}
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item:nth-child(2n){margin-right: auto}
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item:last-child{margin-right: 0}
.exhb_wrap.exhb_sub .eh_cst .eh_cst_cont .item .txt{text-align: center;width: 100%;margin-top: 10px}

.exhb_wrap .open_filter{background: #fff;border-radius: 15px;border: 1px solid #e6e6e6;padding: 15px;margin-bottom: 20px}
.exhb_wrap .open_filter ul{display: flex;flex-wrap: wrap;}
.exhb_wrap .open_filter ul li{margin: 5px}
.exhb_wrap .open_filter ul li a{display: block;font-size: 14px;background: #fff;border: 1px solid #ddd;border-radius: 20px;padding: 10px 15px}
.exhb_wrap .open_filter ul li.active a{background: #69c3be;color: #fff;border:1px solid #69c3be}
.exhb_wrap .open_filter ul li:hover a,
.exhb_wrap .open_filter ul li:active a,
.exhb_wrap .open_filter ul li:focus a{background: #69c3be;color: #fff;border:1px solid #69c3be}
.exhb_sub .eh_cst .eh_cst_cont .item .ico{width: 193px;height: 193px}

/* 채용공고 상세 */
.exhb_sub .url_list{display: flex;}
.exhb_sub .pd_inner{padding: 50px 0;}
.exhb_sub .mg_inner{margin: 50px 0;}
.exhb_sub .company_info{background: url(/resource/images/exhb/cpn_bg.png) no-repeat center;background-size: cover;}
.exhb_sub .info_tit {display: flex;justify-content: space-between;border-bottom: 1px solid #000;padding-bottom: 20px;align-items: center;margin-bottom: 20px}
.exhb_sub .info_tit h3{font-size: 24px}
.exhb_sub .url_list li{margin-left: 10px}
.exhb_sub .url_list li:first-child{margin-left: 0}
.exhb_sub .url_list a{display: block;width: 25px;height: 25px;text-indent: -99999px}
.exhb_sub .url_list li .kakao{background: url(/resource/images/exhb/kakao_ico.png) no-repeat;}
.exhb_sub .url_list li .facebook{background: url(/resource/images/exhb/facebook_ico.png) no-repeat;}
.exhb_sub .url_list li .message{background: url(/resource/images/exhb/message_ico.png) no-repeat;}
.exhb_sub .url_list li .copy{background: url(/resource/images/exhb/url_ico.png) no-repeat;}
.exhb_sub .company_info .ci_cont_view{background: #fff;border-radius: 15px;position: relative;display: flex;}

.exhb_sub .company_info .ci_cont{border-right: 1px solid #e6e6e6;width: 900px;padding-right: 30px;display: flex;flex-direction: column}
.exhb_sub .company_info .ci_cont .top{padding-bottom: 20px;padding: 40px 0 20px 30px}
.exhb_sub .company_info .ci_cont .top .ex_line{margin-bottom: 0}
.exhb_sub .company_info .ci_cont .top .tit{font-size: 20px;width: calc(100% - 250px);}
.exhb_sub .company_info .ci_cont .bt{display: flex;padding: 0 30px 40px 30px;height: 100%}
.exhb_sub .company_info .ci_cont .bt div:nth-child(1){width: 60%;border-right: 1px solid rgba(0, 0, 0, 0.2);padding-right: 40px}
.exhb_sub .company_info .ci_cont .bt div:nth-child(2){width: 40%;padding-left: 40px}
.exhb_sub .company_info .li_tit{margin-bottom: 25px}
.exhb_sub .company_info .li_tit span{font-size: 18px;font-weight: 400;position: relative;z-index: 2;display: inline-block;padding: 0 10px}
.exhb_sub .company_info .li_tit span:before{content: '';width: 100%;height: 10px;background: #b4eaff;border-radius: 50px;position: absolute;bottom: 0;left: 0;z-index: -1;}
.exhb_sub .company_info dl{display: flex;justify-content: space-between;margin-top: 20px}
.exhb_sub .company_info dl dt{font-size: 16px;width: 100px;}
.exhb_sub .company_info dl dd{font-size: 14px;color: #666666;width: calc(100% - 110px);word-break:break-all}
.exhb_sub .company_info .harf {display: flex;flex-wrap: wrap;}
.exhb_sub .company_info .harf dl{width: calc(50% - 7.5px);margin-right: 15px;}
.exhb_sub .company_info .harf dl:nth-child(2n){margin-right: 0}
.exhb_sub .company_info  .ci_date {position: absolute;top: 25px;right: 390px}
.exhb_sub .company_info  .ci_date dt{text-indent: -9999px;}
.exhb_sub .company_info  .ci_date dd{width: auto;}
.exhb_sub .company_info  .ci_date dd ul {display: flex;}
.exhb_sub .company_info  .ci_date dd ul  li{font-size: 14px}
.exhb_sub .company_info  .ci_date dd ul li + li {margin-left: 20px;}
.exhb_sub .company_info  .ci_date dd ul  .date.end{color: #ff6163;font-weight: bold;}
.exhb_sub .company_info .ci_cpn .logo{display: flex;justify-content: center;align-items: center;border: 1px solid #dddddd;width:100%;max-width: 250px;height: 60px;margin:0 auto 10px auto;}
.exhb_sub .company_info .ci_cpn .logo img {max-width: 90%;max-height: 90%}
.exhb_sub .company_info .ci_cpn{padding: 30px 30px 40px 30px;width: calc(100% - 900px)}
.exhb_sub .company_info .ci_cpn .name{height: 71px;justify-content: center;align-items: center;display: flex}
.exhb_sub .company_info .ci_cpn .tit{display: flex;margin-bottom: 9px;justify-content: center}
.exhb_sub .company_info .ci_cpn .tit p{margin-left: 5px}
.exhb_sub .company_info .ci_cpn .tit p.long_txt{font-size: 16px}
.exhb_sub .company_info .ci_cpn .btn_wrap {margin-top: auto;text-align: center;}
.exhb_sub .btn_wrap button + button{margin-left: 5px}
.exhb_sub .exhb_btn{font-size: 14px;padding: 7px 10px;border-radius: 5px;max-width: 160px;width: 100%;}
.exhb_sub .exhb_btn.cy_btn{background: #38bab2;color: #fff;font-weight: 500;margin-top: 30px}
.exhb_sub .exhb_btn.blue_btn{background: #00a8cd;color: #fff}
.exhb_sub .exhb_btn.blue_btn02{background: #fff;color: #00a8cd;border: 1px solid #00a8cd}
.exhb_sub .exhb_btn.red_btn{background: #ff6163;color: #fff}
.exhb_sub .exhb_btn.gray_btn{background: #b8b8b8;color: #fff}

.exhb_sub .border_round{padding: 40px 30px;border-radius: 10px;border: 1px solid #ddd;word-break:break-all;}
.exhb_sub .gray{color: #666}

.exhb_sub .open_other{background: url(/resource/images/exhb/cpn_bg02.png) no-repeat center;background-size: cover;}
.exhb_sub .open_other_list .item{background: #fff;padding: 20px;border:1px solid #e6e6e6;border-radius: 15px;display: flex;justify-content: space-between;position: relative;margin-bottom: 10px}
.exhb_sub .open_other_list .item:last-child{margin-bottom: 0}
.exhb_sub .open_other_list  .top{width: calc(100% - 300px);}
.exhb_sub .open_other_list .tit{font-size: 18px;font-weight: 500;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; cursor: pointer;}
.exhb_sub .open_other_list .cate{font-size: 14px;color: #787878;margin: 5px 0 5px 0}
.exhb_sub .open_other_list .etc{display:flex;flex-wrap:wrap;width: calc(100% - 180px)}
.exhb_sub .open_other_list .etc span{font-size: 14px;color: #787878;position: relative;padding-right: 10px;margin-right: 10px;}
.exhb_sub .open_other_list .etc span:after{content: '';display: block;width: 1px;height: 10px;background: #b5b5b5;right: 0;position: absolute;top: 8px}
.exhb_sub .open_other_list .etc span:last-child{margin-right: 0;padding-right: 0}
.exhb_sub .open_other_list .etc span:last-child:after{display: none}
.exhb_sub .open_other_list .etc .textNull:after{display:none !important;}
.exhb_sub .open_other_list .etc .textNull {padding-right:0  !important;margin-right:0 !important}
.exhb_sub .open_other_list .area{max-width: calc(100% - 180px);}
.exhb_sub .open_other_list .area span{color: #787878;font-size: 14px;display: inline-block;}
.exhb_sub .open_other_list .area span:after{content: ','}
.exhb_sub .open_other_list .area span:last-child:after{display: none}
.exhb_sub .open_other_list .date{font-size: 14px;font-weight: bold;color: #000000;position: absolute;right: 20px;top: 20px;letter-spacing: 3px}
.exhb_sub .open_other_list .date.end{color: #ff6163;letter-spacing: 1px}
.exhb_sub .open_other_list .date.middle{color: #e69138;letter-spacing: 1px}
.exhb_sub .open_other_list .bottom{display: flex;justify-content: space-between;align-items: flex-start;margin-top: auto;}
.exhb_sub .open_other_list .cert {width: calc(100% - 280px);display:flex;flex-wrap:wrap;}
.exhb_sub .open_other_list .cert span{font-size: 12px;color: #565454;background: #c6e7f0;border-radius: 5px;padding: 5px;margin: 5px 3px 0 0}
.exhb_sub .open_other_list .support {display: flex;align-items: flex-start;width: 260px;justify-content: flex-end;align-items: center}
.exhb_sub .open_other_list .support_ci{margin-right: 15px;}
.exhb_sub .open_other_list .support_ci span{display:none;}
.exhb_sub .open_other_list .support_ci span.show{display: block;}

.exhb_sub .open_simil{background: #f8f8f8}
.exhb_sub .m_show{display: none}

.exhb_sub .des_open .item  .cate{font-weight: 400;color:#787878}
.exhb_sub .des_open .item .top .tit_wrap,
.exhb_sub .des_open .item .top .cate,
.exhb_sub .des_open .item .top .etc,
.exhb_sub .des_open .item .top .cert,
.exhb_sub .des_open .item .bottom .cert{width: calc(100% - 200px);}


@media all and (max-width:1260px){
	.exhb_main .exhb_header .top{padding-left: 0}
	.exhb_main .exhb_header .containerNew{background-position:  right top  40px}
	.exhb_main .exhb_header .bt .item{width: calc(33.333% - 7px)}
	.exhb_main .exhb_header .bt {}
	.exhb_main .exhb_header .bt br {display: none}
	.exhb_main .exhb_header .bt p{width: calc(100% - 170px)}

	.eh_cst .eh_cst_cont .item{width: calc(50% - 40px)}
	.eh_cst .eh_cst_cont .item:nth-child(3n){margin-right: 20px}
	.eh_cst .eh_cst_cont .item:nth-child(2n){margin-right: 0}

	/* 온라인박람회 채용공고 상세*/
	.exhb_sub .company_info .ci_cont{width: 650px}
	.exhb_sub .company_info .ci_cont .top .tit{width: 100%;}
	.exhb_sub .company_info .ci_date{position: static;}
	.exhb_sub .company_info .ci_date dt{text-indent: 0}
	.exhb_sub .company_info dl dt{width: 80px;font-size: 14px}
	.exhb_sub .company_info dl dd,
	.exhb_sub .company_info .ci_date dd{width: calc(100% - 90px);font-size: 13px}
	.exhb_sub .company_info .ci_cont .bt div:nth-child(1){padding-right: 15px}
	.exhb_sub .company_info .ci_cont .bt div:nth-child(2){padding-left: 15px}
	.exhb_sub .company_info .ci_cpn{width: calc(100% - 650px)}

	.exhb_sub .eh_cst .eh_cst_cont .item .ico{width: 146px;height: 146px}
}

@media all and (max-width:1024px){
	.exhb_main .exhb_header .bt > div{width: 100%;}
	.exhb_main .exhb_header .bt br {display: block}
	.exhb_main .exhb_header .bt .item{padding: 40px 10px}
	.exhb_main .slick-list{margin: 0 -5px}
	.exhb_main .slick-slide{margin: 0 5px}
	.exhb_main .exhb_header h2{font-size: 40px;}
	.exhb_main .exhb_header .containerNew{background-size: 250px;}

	/* 온라인박람회 상세 */
	.exhb_wrap .onjob_view .txtSet{display: block;}
	.exhb_wrap .onjob_view .txtSet > div{width: 100%;}
	.exhb_wrap .onjob_view .txtSet > div:nth-child(1){padding-right: 0}
	.exhb_wrap .onjob_view .txtSet > div + div{padding-left: 0;border-left: 0}
	.exhb_wrap .onjob_view .list_wrap{display: block;margin: 20px 0 20px 0}
	.exhb_wrap .onjob_view .list_wrap .list3{width: 100%;}

	.exhb_wrap .attend_area .step div span{font-size: 13px;}
	.exhb_wrap .attend_area .step div p{font-size: 16px}
	.exhb_wrap .attend_area .step .arrow{background-size: 13px;width: 13px;height:auto;background-position: center;}
	.exhb_wrap .open_filter{padding: 10px}
	.exhb_wrap .open_filter ul li a{font-size: 13px;padding: 10px}
	.eh_cst .eh_cst_cont{display: block}
	.eh_cst .eh_cst_cont .item .ico{margin: auto}

	.exhb_sub .company_info .ci_cont_view{flex-direction: column;padding: 25px;}
	.exhb_sub .company_info .ci_cont{width: 100%;border-right: 0;padding-right: 0;}
	.exhb_sub .company_info .ci_cont .top{padding: 0;margin-bottom: 15px}
	.exhb_sub .company_info .ci_cont .bt{padding: 0}
	.exhb_sub .company_info .ci_cpn{width: 100%;margin-top: 40px;display: flex;flex-direction: column;padding: 0;}
    .exhb_sub .company_info .ci_cpn .tit p{font-size: 16px}
    .exhb_sub .company_info .ci_cpn .name{height: auto;}
    .exhb_sub .company_info .ci_cpn .tit{justify-content: flex-start}
	.exhb_sub .company_info .ci_cpn .logo{margin-left: 0;}
	.exhb_sub .company_info .ci_cpn .li_tit{order: -1}

}

@media all and (max-width:768px){
	.exhb_sub_header{height:auto}
	.f20{font-size: 16px}
	.f15 {font-size: 13px}
	.exhb_main .exhb_header .containerNew{padding: 40px 0}
	.exhb_main .exhb_header .containerNew{background: none;}
	.exhb_main .exhb_header .top{text-align: center;}
	.exhb_main .exhb_header h2{font-size: 35px}
	.exhb_main .exhb_header .bt{margin-top: 20px}
	.exhb_main .exhb_header .f20{margin-top: 10px}
	.exhb_wrap .new_company_story_wrap{padding: 40px 0}
	.exhb_wrap .exhb_tit{font-size: 18px}
	.ex_line{margin: 20px 0}
	.list_search_wrap.sty4 select{min-width: inherit!important;width: 100px !important;padding: 10px;background-position: right 10px center;font-size: 13px}
	.list_search_wrap.sty4 input{padding: 10px;width: calc(100% - 190px);;height: 40px;font-size: 13px}
	.list_search_wrap.sty4 .btn_d_reset{width: 70px !important;padding: 10px !important;font-size: 14px;height: 40px}
	.new_company_story_list .items{width: calc(50% - 7.5px);margin-right: 15px;}
	.new_company_story_list .items:nth-child(2n){margin-right: 0}
	.new_company_story_list .items:nth-child(4n){margin-right: auto;}
	.new_company_story_list .items .txt{padding: 15px}
	.new_company_story_list .items .t{margin: 10px 0}
	.eh_cst{margin: 40px 0}
	.eh_cst .f18{word-break: keep-all}

	.exhb_wrap .tabs{margin: 25px 0}
	.exhb_wrap .tabs li a{font-size: 14px;}
	.exhb_wrap .tabs li{padding-bottom: 10px;border-bottom-width: 2px !important}
	.exhb_wrap .onjob_view{margin: 30px 0}
	.exhb_wrap .ov_tit .tit{font-size: 16px;}
	.exhb_wrap .ov_tit .desc{font-size: 13px;}
	.exhb_wrap .onjob_view .txtSet dl dt{font-size: 13px;width: 80px;margin-right: 10px;padding: 7px 10px}
	.exhb_wrap .onjob_view .txtSet dl dd{width: calc(100% - 90px);font-size: 13px}
	.exhb_wrap .onjob_view .view_Detail{padding: 20px}
	.exhb_wrap .onjob_view .view_Detail .vTit{font-size: 16px;margin-bottom: 5px}
	.exhb_wrap .onjob_view .view_Detail .txt{font-size: 13px}

	.exhb_wrap .attend_area{margin: 40px 0}
	.exhb_wrap .attend_area .step div span{font-size: 11px;}
	.exhb_wrap .attend_area .step div p{font-size: 12px}
	.exhb_wrap .attend_area .step .arrow{background-size: 9px;width: 9px;}

	.exhb_wrap .at_cpn{padding: 40px 0}
	.exhb_wrap .at_cpn_list .txt .name{font-size: 14px;}
	.exhb_wrap .at_cpn_list .txt .desc{font-size: 13px}
	.exhb_wrap .at_cpn_list .txt .jobPost{font-size: 12px}

	.exhb_wrap .des_wrap .des_sch{width: 100%;max-width: 100%;}
	.exhb_wrap .open_filter{display: none}
	.exhb_sub .des_open .item .top .tit_wrap, .exhb_sub .des_open .item .top .cate, .exhb_sub .des_open .item .top .etc, .exhb_sub .des_open .item .top .cert, .exhb_sub .des_open .item .bottom .cert{width: 100%;}

	/* 채용공고 상세*/
	.exhb_sub .pd_inner{padding: 40px 0}
	.exhb_sub .mg_inner{margin: 40px 0}
	.exhb_sub .company_info .ci_cont .bt{flex-direction: column;}
	.exhb_sub .company_info .ci_cont .bt div:nth-child(1),
	.exhb_sub .company_info .ci_cont .bt div:nth-child(2){width: 100%;}
	.exhb_sub .company_info .ci_cont .bt div:nth-child(1){border-right: 0;padding-right: 0}
	.exhb_sub .company_info .ci_cont .bt div:nth-child(2){padding-left: 0;margin: 15px 0;border-top: 1px dotted #e6e6e6;border-bottom: 1px dotted #e6e6e6;padding: 15px 0}
	.exhb_sub .company_info .ci_cpn{margin: 0}
	.exhb_sub .company_info .ci_cont_view{padding: 20px}
	.exhb_sub .company_info .ci_cont .top .tit{font-size: 16px;}
	.exhb_sub .company_info .li_tit{margin-bottom: 10px}
	.exhb_sub .company_info .li_tit span{font-size: 14px;padding: 0 }
	.exhb_sub .company_info .li_tit span:before{height: 7px}
	.exhb_sub .company_info dl{margin-top: 5px}
	.exhb_sub .company_info .harf{flex-direction: column;}
	.exhb_sub .company_info .harf dl{width: 100%;margin-right: 0}
	.exhb_sub .company_info dl dt,
	.exhb_sub .company_info dl dd{font-size: 13px}
	.exhb_sub .company_info .ci_cpn .tit p {font-size: 14px !important}

	.exhb_sub .exhb_btn{font-size: 13px;max-width: 140px}
	.exhb_sub .company_info dl dt{width: 75px}
	.exhb_sub .company_info dl dd, .exhb_sub .company_info .ci_date dd{width: calc(100% - 80px)}
	.exhb_sub .info_tit h3{font-size: 21px}
	.exhb_sub .border_round{padding: 20px}
	.exhb_sub .open_other_list .item{padding: 15px;flex-direction: column;}
	.exhb_sub .open_other_list .top{width: 100%;}
	.exhb_sub .open_other_list .tit{font-size: 16px;}
	.exhb_sub .open_other_list .cate,
	.exhb_sub .open_other_list .area span,
	.exhb_sub .open_other_list .etc span,
	.exhb_sub .open_other_list .date{font-size: 12px}
	.exhb_sub .open_other_list .etc,
	.exhb_sub .open_other_list .area{max-width: 100%;width: 100%;}
	.exhb_sub .open_other_list .date{position: static}
	.exhb_sub .open_other_list .support{margin-left: auto;justify-content:flex-end;margin-top: 20px}
}

@media all and (max-width:480px){
	.f20{font-size: 14px}
	.f18{font-size: 13px}
	.mt10 {margin-top: 5px}
	.exhb_main .exhb_header .f20{margin-top: 5px;font-size: 13px}
	.exhb_main .exhb_header .containerNew{padding: 30px 0}
	.exhb_main .exhb_header h2{font-size: 18px}
	.exhb_main .exhb_header .bt .item{padding: 20px 10px}
	.exhb_main .exhb_header .bt .item01{background-size: 60px; }
	.exhb_main .exhb_header .bt .item02{background-size: 70px; }
	.exhb_main .exhb_header .bt .item03{background-size: 70px; }
	.exhb_main .exhb_header .bt p{width: calc(100% - 100px)}
	.exhb_main .exhb_header .bt .item01{background-position:  left 30px center}
	.exhb_main .exhb_header .bt .item02{background-position:  left 30px center}
	.exhb_main .exhb_header .bt .item03{background-position:  left 30px center}
	.ex_line{margin: 15px 0}
	.exhb_wrap .exhb_tit{font-size: 16px}
	.new_company_story_list .items{width: 100%;margin-right: 0}
	.new_company_story_list .img{display: none;}
	.new_company_story_list .items .prog,
	.new_company_story_list .items ul li{font-size: 12px}
	.new_company_story_list .items ul{padding-top: 5px}
	.new_company_story_list .items .t{font-size: 14px;margin: 5px 0;height: auto;max-height: 2.4rem;line-height: 1.2rem}
	.exhb_wrap .new_company_story_wrap{padding: 30px 0}
	.new_company_story_list .items .txt{padding: 10px }
	.list_search_wrap.sty4 select{width: 80px !important;height: 40px;margin-bottom: 0}
	.list_search_wrap.sty4 .btn_d_reset{width: 60px !important;font-size: 13px}
	.list_search_wrap.sty4 input{width: calc(100% - 150px)}
	.new_company_story_list .items{margin-top: 10px}
	.eh_cst{margin: 30px 0}
	.eh_cst .eh_cst_cont .item .ico{width: 90px;height: 90px;}
	.eh_cst .eh_cst_cont .item .txt{width: calc(100% - 105px)}
	.eh_cst .eh_cst_cont .item .txt .tit{font-size: 15px;margin-bottom: 5px}
	.eh_cst .eh_cst_cont .item .txt .desc{font-size: 13px}
	.eh_cst .eh_cst_cont .item.item01 .ico{background-size: 50px}
	.eh_cst .eh_cst_cont .item.item02 .ico{background-size: 50px}
	.eh_cst .eh_cst_cont .item.item03 .ico{background-size: 35px}
	.eh_cst .eh_cst_cont .item.item04 .ico{background-size: 50px}
	.eh_cst .eh_cst_cont .item.item05 .ico{background-size: 50px}
	.eh_cst .eh_cst_cont .item.item06 .ico{background-size: 50px}

	.exhb_wrap .attend_area{display: none}
	.exhb_wrap .at_cpn{padding: 30px 0}
	.exhb_wrap .at_cpn_list .cpn-arrow{display: none !important}
	.exhb_wrap .at_cpn_list .slick-dots{margin-top: 0px}
	.exhb_wrap .at_cpn_list.slick-dotted.slick-slider{margin-bottom: 0}

	.exhb_wrap .open_filter{padding: 10px}
	.exhb_wrap .open_filter ul li a{font-size: 13px;padding: 10px}

	.exhb_wrap .des_wrap .des_sch{padding: 5px 10px}

	/* 채용공고 상세 */
	.exhb_sub .pd_inner{padding: 30px 0}
	.exhb_sub .mg_inner{margin: 30px 0}
	.exhb_sub .company_info .ci_date dd ul {display: block;}
	.exhb_sub .company_info .ci_date dd ul li + li{margin-left: 0;margin-top: 5px;font-size: 13px}
	.exhb_sub .exhb_btn{padding: 5px}
	.company_info .mt30.btn_wrap{display: none}

	.exhb_sub .m_show{display: inline-block}
	.exhb_sub .cpn_view .btn_wrap{display: flex;justify-content: center;}
	.exhb_sub .cpn_view .exhb_btn{max-width: 80px;width: calc(25% - 3.75px)}
	.exhb_sub .btn_wrap button + button{margin-left: 5px}

	.exhb_sub .exhb_btn{width: auto;padding: 4px 7px;font-size: 12px}
	.exhb_sub .company_info .ci_cpn .tit p{width: calc(100% - 35px)}
	.exhb_sub .info_tit{padding-bottom: 15px;margin-bottom: 15px}
	.exhb_sub .info_tit h3{font-size: 18px}

	.exhb_sub .eh_cst .eh_cst_cont .item .ico{width: 90px;height: 90px}
	.exhb_sub  .des_open .item .right_area button.like{top: -5px}
	.exhb_sub .open_other_list .tit{font-size: 13px}
	.exhb_sub  .des_open .item .right_area .date.middle{font-size: 13px}
	.exhb_sub .open_other_list .item{padding: 10px}

	.exhb_sub .border_round,
	.exhb_wrap .onjob_view .view_Detail,
	.exhb_sub .company_info .ci_cont_view{padding: 20px}
	.exhb_wrap .at_cpn_list .txt .desc{height: auto}
	.exhb_wrap .at_cpn_list .txt .name,
	.exhb_wrap .at_cpn_list .txt .desc{line-height: 1.2rem;max-height: 2.4rem}
	.exhb_wrap .at_cpn_list .txt{padding: 10px}
	.exhb_wrap .at_cpn_list .slick-track{display: block !important}
	.exhb_wrap .at_cpn_list .item{height: auto}
	.exhb_wrap .at_cpn_list .img:not(.logo){height: auto;}
	.exhb_wrap .at_cpn_list .img:not(.logo) img{height: auto;max-height: 170px}
	.exhb_wrap .at_cpn_list .img.logo{height: 80px}
	.exhb_wrap .at_cpn_list .img.logo img{max-height: 50px}

	.exhb_wrap .onjob_view .view_Detail .vTit{font-size: 15px}
	.exhb_wrap .des_sub{padding: 30px 0}
	.eh_cst .eh_cst_cont .item .txt .tit{font-size: 14px}

	.exhb_wrap .des_open .tit_wrap .tit{width: calc(100% - 50px) !important}
	.exhb_wrap .tag li{font-size: 13px}

}


@media all and (max-width:360px){
	.f18{font-size: 14px}
	.exhb_main .exhb_header h2{font-size: 22px}
	.exhb_main .exhb_header .f20{word-break: keep-all}
	.exhb_main .exhb_header .f20 br{display: none}
	.exhb_main .exhb_header .bt p {word-break: keep-all}
	.exhb_main .exhb_header .bt p br{display: none}
	.exhb_main .exhb_header .bt .item01{background-size: 80px; }
	.exhb_main .exhb_header .bt .item02{background-size: 85px; }
	.exhb_main .exhb_header .bt .item03{background-size: 80px; }
	.exhb_main .exhb_header .bt p{width: calc(100% - 90px)}

}