.tlt{text-align: left}
.not_scroll{ position: fixed;overflow: hidden;width: 100%; height: 100%}
.recruit_area{}
.recruit_area p{font-size: 14px;color: #555}
.recruit_area .del{background: url(../images/entEmpmn/del_ico.png) no-repeat center #f5f5f5;text-indent: -9999px;width: 25px;height: 25px;border: 1px solid #dcdcdc}
.recruit_area .add_area{display: flex;margin-top: 10px;}
.recruit_area .add_area p{margin-right: 10px}

.ent_pop.modal.in .modal-dialog, 
.ent_pop.modal .modal-dialog{max-width: 1260px !important;width: 100% !important;position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.ui-autocomplete{max-height: 250px;overflow-y: auto;overflow-x: hidden;}
.ui-menu .ui-menu-item-wrapper {padding: 10px !important;font-size: 13px}
.ui-menu .ui-menu-item{padding: 0;}
.category-select{border-bottom: 1px solid #e6e6e6}
.category-select .tit{border-top: 2px solid #000;background: #f5f5f5;padding: 10px;font-size: 16px;color: #000;}
.category-select .cate-list{border-top: 1px solid #e6e6e6;display: flex;}
.category-select .cate-list > div{flex: 1  1 }
.category-select .cate_scr{border: 1px solid #e6e6e6;margin: 20px 0;display: flex;justify-content: space-between;align-items: center;width: 100%;}
.ui-front{z-index: 999999999999999999999999999 !important}
.category-select .cate_scr input {width: calc(100% - 50px);padding: 10px}
.category-select .cate_scr button{background: url('https://www.jobaba.net//resource/images/desEnt/src_ico.png') no-repeat center right transparent;display: block;width: 20px;height: 20px;text-indent: -9999px;margin-right: 10px}
.ui-widget.ui-widget-content{border: 1px solid #e6e6e6;box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1)}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #f5f5f5;
	background: #f5f5f5;
	color: #222;
}


.category-select .scr{max-height: 200px}
.category-select .scr li{font-size: 14px;line-height: 1.2}
.category-select li:last-child{margin-bottom: 0}
.category-select .scr{padding: 10px 0 8px}
.ent_pop.ent_select .btn_trt{text-align: right;margin-top: 10px}
.ent_pop.ent_select .btn_trt .btn{height: auto !important;padding: 7px  15px!important;width: auto;line-height: 1 !important}

.ent_select .lb_tag{margin: 0 !important;padding: 10px 10px;}

.ent_select .scrollbar-outer > .scroll-element .scroll-element_outer, 
.ent_select .scrollbar-outer > .scroll-element .scroll-element_track, 
.ent_select .scrollbar-outer > .scroll-element .scroll-bar{border-radius: 0 !important;width: 10px !important}

.inp_chk input:checked +  .lb_tag {background: #f5f5f5;font-weight: bold;color: #13438b !important;}

@media all and (min-width:768px){
	.recruit_area p.active{display: none}
}


@media all and (max-width:768px){
	.ent_pop.modal.in .modal-dialog,
	.ent_pop.modal .modal-dialog{max-width: calc(100% - 40px) !important}
	
	.category-select{display: flex;flex-direction: column}
	.category-select .cate_scr{order: 0}
	.category-select .tit{order: 1}
	.category-select .cate-list{order: 2}
	.category-select .cate-list{display: block;}
	.category-select .hide {display: block;text-indent: 0;font-size: 15px;line-height: 1;color: #000;font-weight: bold;margin-bottom: 10px}
	.category-select .cate:nth-child(1) .hide{border-top: 0;}
	.category-select .m_select{position: relative;border: 1px solid #dcdcdc;cursor: pointer;}
	.category-select .m_select.open ul {display: block;padding: 0}
	.category-select .active{padding: 10px 30px 10px 10px;background:#fff url('https://www.jobaba.net/resource/images/col-listpluimo.png') no-repeat center right 10px; background-size:10px;}
	.category-select .cate-list > div{padding: 15px 0;border-bottom: 1px solid #e6e6e6;}
	.category-select .cate-list > div:last-child{border-bottom: 0}
	.category-select .active label{padding: 0 !important;margin: 0 !important}
	.category-select .cate-list ul {display: none;margin: 0;}
	.category-select .m_select .scr li:hover,
	.category-select .m_select .scr li:active,
	.category-select .m_select .scr li:focus{background: #f5f5f5}
	.category-select .scr{overflow-y: auto}
	.category-select .inp_chk input:checked + .lb_tag{background: none;font-weight: normal;color: #666 !important}
	.category-select .cate_scr{margin-top: 0}
	
}


@media all and (max-width:640px){
	
	
}