/*font*/
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


#footer{margin:0 !important}

/* 공통 */
.sCore{font-family: 'S-CoreDream-4Regular',sans-serif !important;}
.sCoreBold{font-family: 'S-CoreDream-6Bold',sans-serif !important;}
.f18 {font-size: 18px;}
.f16 {font-size: 16px;}
.mt30{margin-top: 30px}
.mt10{margin-top: 10px}
.mg50{margin: 50px 0}
.mg60{margin: 60px 0}
.mg30{margin: 30px 0}
.des_wrap .slick-dots{text-align: center;margin-top: 20px;position: static;}
.des_wrap .slick-dots li{margin: 0 5px;cursor: pointer;display: inline-block;}
.des_wrap .slick-dots li button{background: #e5e5e5;border-radius: 50%;width: 18px;height: 18px;text-indent: -9999px;}
.des_wrap .slick-dots .slick-active button{background: #00a8cd}

.des_wrap #intro_slide,
.des_wrap #welfare_slide,
.des_wrap #recom_slide,
.des_wrap #open_slide,
.des_wrap #itv_slide{opacity: 0; visibility: hidden; transition: opacity 1.5s ease; -webkit-transition: opacity 1.5s ease;}

.des_wrap #intro_slide.slick-initialized,
.des_wrap #welfare_slide.slick-initialized,
.des_wrap #recom_slide.slick-initialized,
.des_wrap #open_slide.slick-initialized,
.des_wrap #itv_slide.slick-initialized{ visibility: visible; opacity: 1; }
.des_wrap .des_welfare a:hover .tit,
.des_wrap .des_welfare a:active .tit,
.des_wrap .des_welfare a:focus .tit,
.des_recom .item a:hover .name,
.des_recom .item a:active .name,
.des_recom .item a:focus .name,
.des_open .item a:hover .tit,
.des_open .item a:active .tit,
.des_open .item a:focus .tit,
.des_interview .item a:hover .q,
.des_interview .item a:active .q,
.des_interview .item a:focus .q,
.des_interview .item a:hover .a,
.des_interview .item a:active .a,
.des_interview .item a:focus .a{text-decoration: underline}



/* 메인 비쥬얼 */
.des_visual{background: url('/resource/images/desEnt/main_vs.png') no-repeat bottom;background-size: cover;padding: 40px 0}
.des_visual h2{color: #003281;font-size: 32px;margin-bottom:24px;display:flex;align-items:center}
.des_visual h2 span{display: inline-block;font-size: 20px;font-weight: 200;letter-spacing: 5px;padding-left: 45px;position: relative;}
.des_visual h2 span:before{content: '';display: block;background: url('/resource/images/desEnt/mv_ico.png') no-repeat;width: 36px;height: 30px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.des_visual p{color: #333;margin-top: 10px !important}

 .radio input[type="checkbox"]:active .text{outline: none}

/*des_cont*/
.des_cont .slick-slide:not(.slick-current) video {
  visibility: hidden !important;
}


.des_cont .slick-dotted.slick-slider{margin-bottom:0}
.des_cont .des_cont_inner{display: flex;justify-content: space-between}
.des_cont .des_cont_inner > div:nth-child(1){width:calc(42.06% - 40px)}
.des_cont .des_cont_inner > div:nth-child(2){width:calc(34.92% - 40px)}
.des_cont .des_cont_inner > div:nth-child(3){width:calc(23.02% - 40px)}
.des_cont .des_cont_inner .top{font-size: 24px;padding-bottom: 20px;border-bottom: 1px solid #000;margin-bottom: 30px;font-weight: 400}
.des_cont .des_cont_inner .des_intro .slick-list {margin: 0 -10px}
.des_cont .des_cont_inner .des_intro .slick-slide {margin: 0 10px}
.des_cont .des_cont_inner .video{height: 337px;width: 100%;position: relative;border-radius: 20px;background: #ddd;overflow: hidden}
.des_cont .des_cont_inner .video video{height: 100%;width: 100%;object-fit: fill;}
.des_cont .des_cont_inner .video .vdo_inner{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.471461716937355) 80%);z-index: 9999}
.des_cont .des_cont_inner .video .playBtn{background: url('/resource/images/desEnt/play_btn.png') no-repeat;width: 42px;height: 42px;text-indent: -9999px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
.des_cont .des_cont_inner .video .pause .playBtn{background: url('/resource/images/desEnt/pause_btn.png') no-repeat}
.des_cont .des_cont_inner .video .txt{position: absolute;bottom: 0;padding: 20px;}
.des_cont .des_cont_inner .video .txt .slogan{font-size: 18px;color: #fff;font-weight: 400;margin-bottom: 10px;}
.des_cont .des_cont_inner .video .txt .name{color: rgba(255, 255, 255, 0.5);font-size: 16px;}

.des_cont .des_welfare .tit{font-size: 14px;font-weight: bold;color: #38bab2;margin-bottom: 10px}
.des_cont .des_welfare .item{padding-bottom: 20px;border-bottom: dotted 1px rgba(0, 0, 0, 0.19);margin-bottom: 20px}
.des_cont .des_welfare .slick-slide > div:nth-child(2n) .item{border-bottom: 0;margin-bottom: 0;}
.des_cont .des_welfare .desc{display: flex;justify-content: space-between;}
.des_cont .des_welfare .desc ul {width: calc(100% - 160px)}
.des_cont .des_welfare .desc ul li{position: relative;font-size: 16px;padding-left: 15px;margin-bottom: 5px;}
.des_cont .des_welfare .desc ul li:before{content: '-';position: absolute;top: 0;left: 0;top: 0}
.des_cont .des_welfare .desc ul li:last-child{margin-bottom: 0}
.des_cont .des_welfare .desc .logo{width: 150px;height: 105px;border-radius: 20px;border: 1px solid #e6e6e6;display: flex;flex-direction: column;align-items: center;justify-content: center;overflow:hidden}
.des_cont .des_welfare .desc .logo img {width: 100%;height: 100%;}
.des_cont .des_fair .img{border-radius: 20px;border: 1px solid #e6e6e6;overflow: hidden;}
.des_cont .des_fair .img img{display: block;width:100%}
.des_cont .des_fair .txt{display: flex;flex-direction: column;}
.des_cont .des_fair .txt .tit {margin: 13px 0;font-size: 20px;font-weight: 500;}
.des_cont .des_fair .txt .desc{font-size: 15px;color: #787878;letter-spacing:-0.3px}
.des_cont .des_fair .txt .desc li{margin-bottom: 5px;}
.des_cont .des_fair .txt .desc li:last-child{margin-bottom: 0}
.des_cont .des_fair .link{color: #ff6163;font-size: 13px}

/* 탐나는 추천 기업 */
.des_bg_gray{background: #f8f8f8;padding: 60px 0;}
.des_wrap .des_top{display: flex;justify-content: space-between;align-items: flex-end}
.des_wrap .des_hr{border: 0;border-top: 1px solid #000;margin: 30px 0}
.des_wrap .des_top h3{font-size: 24px;font-weight: 500;position: relative;padding-left: 85px}
.des_recom .des_top h3:before{content: '';display: block;background: url('/resource/images/desEnt/recom_crt.png') no-repeat;width: 77px;height: 80px;position: absolute;left: 0;bottom: -10px}
.des_wrap .des_top a{font-size: 18px;}
.des_wrap .des_top a strong{font-size: 18px;color: #ff6163}
.des_wrap .des_sch{position: relative;border: 1px solid #e6e6e6;display: flex;padding: 20px 30px;background: #fff;margin: 25px 0 30px 0 ;justify-content: space-between;}
.des_wrap .des_sch label{width: 0px;height: 0px;overflow: hidden;text-indent: -9999px;position: absolute;left: -99999px;}
.des_wrap .des_sch input[type="text"]{width: calc(100% - 50px);font-size: 14px;}
.des_wrap .des_sch input[type="submit"]{background: url('/resource/images/desEnt/src_ico.png') no-repeat center right transparent;width: 30px ;height: 30px;border: 0;text-indent: -9999px;}
.des_recom #recom_slide .slick-list  {margin: 0 -5px}
.des_recom #recom_slide .slick-slide > div > div{padding: 5px}
.des_recom .item {background: #fff;padding: 20px;border:1px solid #e6e6e6;border-radius: 15px;}
.des_recom .item .cate{color: #9f9f9f;font-size: 14px;font-weight: bold;}
.des_recom .item .name{font-size: 20px;margin: 13px 0}
.des_recom .item .desc{font-size: 16px;color: #787878;text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; line-height:1.2em; height:2.4em;overflow: hidden}
.des_recom .item .bottom{display: flex;justify-content: space-between;border-top: 1px dotted #e6e6e6;padding-top: 15px;margin-top: 15px;align-items: center}
.des_recom .item .bottom .area{font-size: 14px;color: #787878;}
.des_wrap .like{background: url('/resource/images/desEnt/like.png') no-repeat center;width: 30px;height: 30px;border:1px solid #e2e2e2;border-radius: 50%;text-indent: 100%;white-space: nowrap;;overflow: hidden}
.des_wrap .like.active{border: 1px solid #ff6163;background: url('/resource/images/desEnt/like_active.png') no-repeat center;}
.des_recom .cate,
.des_recom .name{width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.des_open .item .left_area .logo .long_txt{font-size: 24px}

/* 추천채용공고 */
.des_detailWrap ul.scr.addDiv > div.radio{margin:0;line-height:1.5}
.des_detailWrap ul.scr.addDiv label{margin:8px  0}
.des_detailWrap li.radio.addDiv  div{margin:0;line-height:1.5}
.des_detailWrap li.radio.addDiv > label{margin: 0}
.des_detailWrap li.radio.addDiv > label > .radio label{margin: 8px 0}
.des_open .des_top h3:before{content: '';display: block;background: url('/resource/images/desEnt/open_crt.png') no-repeat;width: 84px;height: 80px;position: absolute;left: 0;bottom: -10px;}
.des_open .des_top h3 {padding-left: 95px}
.des_open .item{background: #fff;padding: 20px;border:1px solid #e6e6e6;border-radius: 15px;display: flex;justify-content: space-between}
.des_open .slick-list  {margin: 0 -5px}
.des_open .slick-slide > div > div{padding: 5px}

.des_open .item .left_area{width: 220px;}
.des_open .item .left_area .logo{overflow: hidden;margin-bottom: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;}
.des_open .item .left_area .logo p{font-size: 30px;text-align: center}
.des_open .item .left_area .bottom{display: flex;justify-content: space-between;align-items: center;}
.des_open .item .left_area .name{font-weight: 500;font-size: 18px;width: calc(100% - 50px)}
.des_open .item .right_area{width: calc(100% - 240px);display:flex;flex-direction:column;}
.des_open .item .right_area .tit_wrap{display: flex;}
.des_open .item .right_area .tit_wrap .tit{font-size: 18px;font-weight: 500;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; cursor: pointer;}
.des_open .item .right_area .cate{font-size: 14px;font-weight: bold;color: #9f9f9f;margin: 5px 0 5px 0}
.des_open .item .right_area .etc{display:flex;flex-wrap:wrap;width: calc(100% - 180px)}
.des_open .item .right_area .etc span{font-size: 14px;color: #787878;position: relative;padding-right: 10px;margin-right: 10px;}
.des_open .item .right_area .etc span:after{content: '';display: block;width: 1px;height: 10px;background: #b5b5b5;right: 0;position: absolute;top: 8px}
.des_open .item .right_area .etc span:last-child{margin-right: 0;padding-right: 0}
.des_open .item .right_area .etc span:last-child:after{display: none}
.des_open .item .right_area button.like{position: absolute;right: 0;bottom: 0;}
.des_open .item .etc .textNull:after{display:none !important;}
.des_open .item .etc .textNull {padding-right:0  !important;margin-right:0 !important}
.des_open .item .right_area .area{max-width: calc(100% - 180px);word-break:keep-all}
.des_open .item .right_area .area span{color: #787878;font-size: 14px;display: inline-block;}
.des_open .item .right_area .area span:after{content: ','}
.des_open .item .right_area .area span:last-child:after{display: none}
.des_open .item .right_area .top{position: relative;}
.des_open .item .right_area .date{font-size: 14px;font-weight: bold;color: #000000;position: absolute;right: 40px;bottom: 5px;letter-spacing: 3px}
.des_open .item .right_area .date.end{color: #ff6163;letter-spacing: 1px}
.des_open .item .right_area .date.middle{color: #e69138;letter-spacing: 1px}
.des_open .item .right_area .bottom{padding-top:10px;margin-top: 10px;border-top: 1px dotted #dcdcdc;display: flex;justify-content: space-between;align-items: flex-start}
.des_open .item .right_area .cert {width: calc(100% - 280px);display:flex;flex-wrap:wrap;}
.des_open .item .right_area .cert span{font-size: 12px;color: #565454;background: #c6e7f0;border-radius: 5px;padding: 5px;margin: 5px 3px 0 0}
.des_open .item .right_area .support {display: flex;align-items: flex-start;width: 260px;justify-content: flex-end;align-items: center}
.des_open .item .right_area .support button{font-size: 14px;color: #00a8cd;border-radius: 5px;width: 160px;padding: 7px 10px;font-weight: 500;border: 1px solid #00a8cd}
.des_open .item .right_area .support button:hover,
.des_open .item .right_area .support button:active,
.des_open .item .right_area .support button:focus{background: #00a8cd;color: #fff}
.des_open .item .right_area .support_ci{margin-right: 15px;}
.des_open .item .right_area .support_ci span{display:none;}
.des_open .item .right_area .support_ci span.show{display: block;}

/* 인사담당자 인터뷰 */
.des_interview{margin: 70px 0 60px 0}
.des_interview .slick-track {display: flex;margin: 0}
.des_interview .slick-track .slick-slide {display: flex;height: auto;width: 100%}
.des_interview .slick-track .slick-slide > div > div{height: 100%;width: 100%}
.des_interview h3:before{content: '';display: block;background: url('/resource/images/desEnt/itv_crt.png') no-repeat;width: 74px;height: 80px;position: absolute;left: 0;bottom: 0;}
.des_interview h3 span{font-size: 16px;display: inline-block;margin-left: 10px;color: #787878;font-weight: 400}
.des_interview #itv_slide{margin-top: 40px;}
.des_interview #itv_slide .slick-list{margin:  0 -5px}
.des_interview #itv_slide .slick-slide > div{width: 100%}
.des_interview #itv_slide .slick-slide{margin:  0 5px}
.des_interview #itv_slide .item{background: #f8f8f8;padding: 20px;border-radius: 15px;border: 1px solid #e6e6e6;height: 100%;width: 100%}
.des_interview #itv_slide .item .name{color: #38bab2;font-size: 14px;font-weight: 500;}
.des_interview #itv_slide .item .q{font-size: 20px;font-weight: 500;margin: 10px 0 15px 0;word-break: keep-all;line-height: 1.8rem;max-height: 3.6rem;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; }
.des_interview #itv_slide .item .q:before{content: 'Q.';display: inline-block;margin-right: 3px}
.des_interview #itv_slide .item .a{font-size: 16px;color: #787878;word-break: keep-all;text-overflow:ellipsis;overflow: hidden;line-height: 1.8rem;max-height: 3.6rem;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;}
.des_interview #itv_slide .item .a:before{content: 'A.';display: inline-block;margin-right: 3px}

.des_goApp{background: url('/resource/images/desEnt/bg_des_goapp.png') no-repeat #0085cc;padding: 50px 0;background-size: cover}
.des_goApp .containerNew {position: relative;}
.des_goApp .containerNew:before{content: '';display: block;background: url('/resource/images/desEnt/img_des_goapp.png') no-repeat;width: 279px;height: 276px;position: absolute;left: 0; bottom: -50px;}
.des_goApp .txt{width: calc(100% - 330px);margin-left: auto}
.des_goApp .txt h3{color: #fff;position: relative;font-size: 30px;position: relative;padding-left: 63px}
.des_goApp .txt h3 span{font-size: 15px;color: #ffef39;display: block;margin-bottom: 5px;font-weight: 500}
.des_goApp .txt h3:before{content: '';display: block;background: url('/resource/images/desEnt/bg_des_ico.png') no-repeat;width: 48px;height: 56px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.des_goApp .txt p{color: #fff;font-size: 16px;margin-top: 20px}
.des_goApp .txt a{color: #fff;font-size: 14px;display: block;background: #003281;text-align: center;border-radius: 5px;width: 200px;padding: 8px 10px;position: absolute;right: 0;bottom: 32px}

/* 서브페이지 strat */
.des_sub{background: linear-gradient(180deg, rgba(196,223,255,1) 0%, rgba(255,255,255,1) 70%);;padding-top: 60px;padding-bottom:30px}
.des_sub .des_subTit{color:#003281;font-size: 34px;font-weight: bold;display: flex;align-items: baseline;position: relative;padding-left: 60px;}
.des_sub .des_subTit:before{content: '';display: block;background: url('/resource/images/desEnt/mv_ico02.png') no-repeat;width: 51px;height: 41px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.des_sub .des_subTit span{font-size: 18px;margin-left: 10px}
.des_detailArea{background: #fff;border-radius: 20px;margin: 30px 0;border: 1px solid #e6e6e6;padding: 30px;}
.des_detailSearch{border-bottom: 1px solid #000;padding-bottom: 10px}
.des_detailSearch label{position: absolute;left: -9999999px;overflow: hidden;width: 1px;height: 1px;}
.des_detailSearch input[type="text"]{font-size: 16px;padding: 10px 0;}
.des_detailWrap{border-radius: 20px;border: 1px solid #ddd;margin: 30px 0;padding: 30px;display: flex;flex: auto}
.des_detailWrap .item{flex: 1;margin-right: 15px;border-right: 1px dotted #dcdcdc;padding-right: 15px}
.des_detailWrap .item:last-child{margin-right: 0;border-right: 0;padding-right: 0}
.des_detailWrap .tit{font-size: 15px;font-weight: bold;margin-bottom: 10px}
.des_detailWrap .scr{max-height: 180px;overflow-y: auto;overflow-x: hidden}
.des_detailWrap .scroll-x{display: none}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.scrollbar-outer > .scroll-content.scroll-scrolly_visible{left: 0 !important;}
	.des_detailWrap .scr{padding-right: 30px}
}

.des_detailWrap .scr::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.des_detailWrap .scrollbar-outer > .scroll-element .scroll-element_track{background: #f6f6f6 !important}
.des_detailWrap  .scrollbar-outer > .scroll-element .scroll-bar{background: #69c3be !important}
.des_detailWrap  .scrollbar-outer > .scroll-element:hover .scroll-bar{background: #489d98 !important}

input[type=checkbox]~.text{padding-left: 25px;position: relative;display: block;font-size: 13px;letter-spacing: -1px}
input[type=checkbox]~.text:before{width: 15px !important;height: 15px !important;border: 1px solid #ddd;background: #fbfbfb;border-radius: 0;display: block;position: absolute;left: 0;top: 1px;}
.des_detailWrap .radio input[type="checkbox"]:checked ~ .text::before{background: #69c3be url(/resource/images/member/ico_check.png) 50% 50% no-repeat;border: 1px solid #21a39b}
.des_btn_wrap {text-align: right;}
.des_btn_wrap button{font-size: 14px;color: #fff;width: 160px;border-radius: 5px;padding: 10px}
.des_btn_wrap button + button{margin-left: 5px}
.des_btn_wrap .gray_btn{background: #a6a6a6}
.des_btn_wrap .red_btn{background: #ff6163}

.des_com_list{display: flex;flex-wrap: wrap;}
.des_sub .des_com_list .item{padding: 20px;background: #fff;border-radius: 15px;border: 1px solid #e6e6e6;width: calc(50% - 5px);margin-right: 10px;display: flex;justify-content: space-between;margin-bottom: 10px}
.des_sub .des_com_list .item:nth-child(2n){margin-right: 0}
.des_sub .des_com_list .item .left_area{width: 230px;display: flex;flex-direction: column}
.des_sub .des_com_list .item .img{border-radius: 15px;overflow: hidden;border: 1px solid #e6e6e6;margin-bottom: 15px;height: 149px;display: flex;align-items: center;justify-content: center;}
.des_sub .des_com_list .item .img a{display:block;width:100%;height:100%}
.des_sub .des_com_list .item .img img {display: block;width: 100%;height: 100%}
.des_sub .des_com_list .item .bottom{display: flex;justify-content: space-between;margin-top: auto;}
.des_sub .des_com_list .item .left_area .bottom{align-items: center}
.des_sub .des_com_list .item .name{font-weight: 500;font-size: 20px;width: calc(100% - 50px)}
.des_sub .des_com_list .item .right_area{width: calc(100% - 250px);display: flex;flex-direction: column}
.des_sub .des_com_list .item .tit{font-size: 20px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.des_sub .des_com_list .item .desc{font-size: 14px;color: #9f9f9f;font-weight: 500;margin: 10px 0 20px 0; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;line-height: 1.2rem;height: 3.6rem;overflow: hidden}
.des_sub .des_com_list  .item .right_area .bottom{margin-top: auto;display: flex;flex-direction: column;}
.des_sub .des_com_list  .item .right_area  .etc{display:flex;}
.des_sub  .des_com_list .item .right_area  .etc  span{font-size: 14px;color: #787878;position: relative;padding-right: 10px;margin-right: 10px;}
.des_sub .des_com_list  .item .right_area  .etc  span:after{content: '';display: block;width: 1px;height: 10px;background: #b5b5b5;right: 0;position: absolute;top: 50%;transform: translateY(-50%)}
.des_sub .des_com_list  .item .right_area  .etc  span:last-child{margin-right: 0;padding-right: 0}
.des_sub .des_com_list  .item .right_area  .etc  span:last-child:after{display: none}
.des_sub .des_com_list  .item .right_area  .etc em{font-style: normal}
.des_sub .des_com_list  .item .right_area .cert {display:flex;flex-wrap:wrap;margin-top: 5px}
.des_sub .des_com_list  .item .right_area .cert  span{font-size: 12px;color: #565454;background: #c6e7f0;border-radius: 5px;padding: 2px 3px;margin:5px 3px 0 0}


.des_sub .des_open .item{margin-bottom: 10px;}
.des_sub .des_open .item:last-child{margin-bottom: 0}


@media all and (max-width:1260px){
	.des_cont .des_welfare .tit{margin-bottom: 5px}
	.des_cont .des_welfare .desc ul li{font-size: 15px;}

	.des_goApp .txt a{position: static;margin-top: 20px}

	.des_sub .des_com_list .item{width: 100%;margin-right: 0}
	.des_sub .des_com_list .item .desc{height: auto;max-height: 3.6rem;}

	.des_open .item .right_area .etc,
	.des_open .item .right_area .area{max-width: calc(100% - 80px) ;width: 100%;}


}

@media all and (max-width:1024px){

	.des_cont .des_cont_inner {flex-wrap: wrap}
	.des_cont .des_cont_inner > div:nth-child(1),
	.des_cont .des_cont_inner > div:nth-child(2) {width: calc(50% - 15px)}
	.des_cont .des_cont_inner > div:nth-child(3){width: 100%;margin-top: 50px}


	.des_goApp .containerNew:before{display: none}
	.des_goApp .txt{width: 100%;text-align: center;}
	.des_goApp .txt h3{padding-left: 0}
	.des_goApp .txt h3:before{display:block;position: static;margin: 0 auto 20px auto;transform: none;}
	.des_goApp .txt a{margin: 20px auto 0 auto}
	.des_sub .des_subTit{font-size: 24px;padding-left: 40px}
	.des_sub .des_subTit span{font-size: 14px}
	.des_sub .des_subTit:before{background-size: 30px;width: 30px;height: 25px;}

	.des_detailWrap{flex-wrap: wrap;}
	.des_detailWrap .item{width: calc(33.333% - 20px);flex: none;margin-top: 40px;}
	.des_detailWrap .item:nth-child(3n){margin-right: 0;padding-right: 0;border-right: 0}
	.des_detailWrap .item:nth-child(1),
	.des_detailWrap .item:nth-child(2),
	.des_detailWrap .item:nth-child(3){margin-top: 0;border-top: 0;padding-top: 0}

	.des_open .item .right_area .bottom{flex-direction: column}
	.des_open .item .right_area .cert{width: 100%;margin-bottom: 10px}
	.des_open .item .right_area .support{width: auto;margin-left: auto}

	.des_open .item .left_area{width: 160px;}
	.des_open .item .left_area .logo p{font-size: 18px;}
	.des_open .item .left_area .logo .long_txt{font-size: 16px}
	.des_open .item .right_area{width: calc(100% - 180px)}

}

@media all and (max-width:768px){

	.des_visual{background:#b8d9ff}
	.des_open .item .right_area .etc span:after{top:5px}
	.des_wrap .slick-dots{margin-top: 0px}
	.mt30 {margin-top: 20px}
	.f18 {font-size: 16px}
	.f16 {font-size: 13px}
	.mg60 {margin: 40px 0}

	/* 메인 비쥬얼 */
	.des_visual{padding: 20px 0}
	.des_visual h2{font-size: 22px;margin-bottom:15px}
	.des_visual h2 span{font-size: 14px;padding-left: 32px;margin-bottom: 5px}
	.des_visual h2 span:before{background-size: 26px;width: 26px;height: 23px;}
	.des_visual p{word-break: keep-all}
	.des_visual  .mt30 {margin-top: 10px}
	.des_cont .des_cont_inner .top{font-size: 18px;padding-bottom: 10px;margin-bottom: 20px;}

	.des_cont .des_cont_inner{display: block;}
	.des_cont .des_cont_inner > div{width: 100% !important;margin-top: 30px !important;}
	.des_cont .des_cont_inner > div:first-child{margin-top: 0 !important}
	.des_cont .des_cont_inner .video{height: auto;}
	.des_cont .des_cont_inner .video video{display: block}
	.des_cont .des_cont_inner .video .txt .slogan{font-size: 14px}
	.des_cont .des_cont_inner .video .txt .name{font-size: 12px;}
	.des_cont .des_cont_inner .video .playBtn{background-size: 32px;width: 34px;height: 34px}
	.des_wrap .slick-dots li button{width: 13px;height: 13px;}

	.des_wrap .des_top h3{font-size: 20px;}
	.des_wrap .des_top a{font-size: 14px}
	.des_wrap .des_top a strong{font-size: 16px}
	.des_recom .des_top h3:before{background-size: 55px;width: 55px;height: 58px}
	.des_recom .des_top h3 {padding-left: 65px}
	.des_wrap .des_sch{padding: 5px 10px}
	.des_wrap .des_sch input[type="text"]{font-size: 12px}
	.des_bg_gray{padding: 40px 0}
	.des_cont .des_fair .txt .tit{font-size: 16px}
	.des_cont .des_fair .txt .desc{font-size: 14px;}
	.des_wrap .des_hr{margin: 20px 0}
	.des_wrap .des_sch{margin: 20px 0 20px 0}
	.des_recom .item{padding: 15px}
	.des_recom .item .cate{font-size: 13px}
	.des_recom .item .name{font-size: 16px}
	.des_recom .item .desc{font-size: 14px;}
	.des_recom .item .bottom .area{font-size: 12px}

	.des_open .des_top h3:before{background-size: 50px;width: 50px;height: 50px;}
	.des_open .des_top h3{padding-left: 60px}
	.des_wrap .des_top h3{padding-left: 60px}
	.des_wrap .des_top h3:before{background-size: 50px;width: 50px;height: 54px}
	.des_open .item{padding: 15px}
	.des_open .item .right_area .bottom{display: block;}
	.des_open .item .left_area .name{font-size: 16px}
	.des_open .item .right_area .tit_wrap .tit{font-size: 16px}
	.des_open .item .right_area .cate{font-size: 12px}
	.des_open .item .right_area .etc span,
	.des_open .item .right_area .area span{font-size: 12px}
	.des_open .item .right_area .cert span{font-size: 11px}
	.des_open .item .right_area .date{font-size: 12px}
	.des_open .item .right_area .support button{font-size: 13px;max-width: 140px;}
	.des_open .item .right_area .area{max-width:calc(100% - 50px)}
.des_open .item .right_area .support{width:auto}
	.des_goApp{padding: 40px 0}
	.des_goApp .txt h3 span{font-size: 13px}
	.des_goApp .txt h3{font-size: 20px}
	.des_goApp .txt p{font-size: 14px}

	.des_goApp .txt h3:before{background-size: 35px;width: 35px;height: 41px;margin: 0 auto 10px auto}
	.des_goApp .txt p{font-size: 13px;word-break: keep-all}
	.des_goApp .txt a{font-size: 13px;max-width: 160px;width: 100%;}

	.des_interview #itv_slide .item{padding: 15px}
	.des_interview #itv_slide .item .name{font-size: 12px}
	.des_interview #itv_slide .item .q{font-size: 15px}
	.des_interview #itv_slide .item .a{font-size: 13px}

	.des_wrap .des_top h3{font-size: 16px;word-break: keep-all}
	.des_interview h3 span{font-size: 13px}
	.des_interview #itv_slide .item .q{margin: 5px 0 10px 0;line-height: 1.3rem;max-height: 2.6rem}
	.des_interview #itv_slide .item .a{line-height: 1.3rem;max-height: 2.6rem}

	.des_cont .des_cont_inner .video{height: 0;padding-bottom: 56.25%}
	.des_cont .des_cont_inner .video video{position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius:20px}
	.des_cont .des_cont_inner .video .vdo_inner{border-radius:20px}


	.des_sub{padding-top: 40px}


	.des_detailWrap .tit{font-size: 13px;padding: 15px 0;margin-bottom: 0}
	.des_detailWrap .item{padding-top: 0 !important;margin-top: 0 !important;}
	.des_detailWrap{padding: 5px 20px 5px 20px}
	.des_detailWrap .radio input[type=checkbox]~.text{font-size: 12px;}
	.des_detailWrap .scr{max-height: 135px;margin-bottom: 10px}

	.des_sub .des_subTit{font-size: 18px;flex-direction: column}
	.des_sub .des_subTit span{margin: 5px 0 0 0;font-size: 13px}
	.des_sub .des_detailWrap .scr{margin-top: 0}
	.des_sub .des_detailWrap .item{padding-top: 0;margin-top: 0;}
	.des_detailSearch input[type="text"]{font-size: 13px}
	.des_detailSearch input[type="text"]{padding: 0}

	.des_sub .des_com_list .item{padding:20px}
	.des_sub .des_com_list .item .tit{font-size: 16px;}
	.des_sub .des_com_list .item .desc{font-size: 13px}
	.des_sub .des_com_list .item .right_area .etc{font-size: 12px}

	.des_sub .des_detailWrap .radio input[type=checkbox]~.text{padding-left: 25px}
	.des_sub .des_detailWrap .radio input[type=checkbox]~.text:before,
	.des_sub .des_detailWrap .radio input[type=checkbox] + span::after{width: 15px;height: 15px}
	.des_interview .slick-track,
	.des_interview .slick-track .slick-slide{display:block;}
	.des_interview #itv_slide .item{height:auto}

	.des_open .item{flex-direction: column;}
	.des_open .item .left_area,
	.des_open .item .right_area{width: 100%;}
	.des_open .item .left_area .logo{justify-content: flex-start;align-items: flex-start;}
	.des_open .item .left_area .logo p,
	.des_open .item .left_area .long_txt p{font-size: 15px !important;text-align: left}
	.des_open .item .right_area .tit_wrap .tit{width: calc(100% - 40px)}
	.des_open .item .right_area .date{position: static;}
	.des_open .item .right_area button.like{top: 0}
	.des_open .item .right_area .etc, .des_open .item .right_area .area{max-width: 100%}

	.des_detailArea{margin: 20px 0}

	.des_detailArea{padding:20px}


}

@media all and (max-width:640px){
	.des_detailWrap .item{width: 100%;margin-right: 0;border-right: 0;
	border-top: 1px dotted #e6e6e6 }
	.des_detailWrap .item:nth-child(2),
	.des_detailWrap .item:nth-child(3){margin-top: 20px;padding-top: 20px;border-top: 1px dotted #e6e6e6}
	.des_open .item .right_area .tit_wrap{align-items:center}
	.des_open .item .right_area .tit_wrap .like{margin-right: 10px}


	.des_detailWrap .scr.scroll-wrapper{display: none}
	.des_detailWrap .item:nth-child(1) .scr.scroll-wrapper{display: block}

	.des_open .item .left_area, .des_sub .des_com_list .item .left_area{width:100% }
	.des_open .item{flex-direction: column;}
	.des_open .item .left_area .img{display: none}
	.des_open .item .left_area .bottom{justify-content: flex-start}
	.des_open .item .left_area{width: 100%;}
	.des_open .item .left_area .name{width: auto;max-width: calc(100% - 50px);padding-right: 10px;color: #888;font-size: 13px}
	.des_open .item .right_area{width: 100%;}
	.des_sub .des_com_list .item{padding: 15px;}
	.des_sub .des_com_list .item{flex-direction: column;}
	.des_sub .des_com_list .item .right_area,
	.des_sub .des_com_list .item .left_area {width: 100%}
	.des_sub .des_com_list .item .name a{font-size: 13px;color: #888}
	.des_sub .des_com_list .item .bottom{justify-content: flex-start}
	.des_sub .des_com_list .item .left_area .img{display: none}
	.des_sub .des_com_list .item .name{width: auto;max-width: calc(100% - 50px);padding-right: 10px;font-size: 16px}

	.des_detailWrap{padding:0px 10px 0px 10px;margin:15px 0}
	.des_detailWrap .tit{padding:10px}

	.des_sub .des_detailWrap .scr{padding-left:10px}

}

@media all and (max-width:480px){
	.des_visual p br{display: none}
	.des_visual h2 span{font-size: 13px;margin-bottom: 10px}
	.f18{font-size: 15px}
	.des_visual h2{font-size: 18px;}
	.des_cont .des_cont_inner .video .txt{padding: 10px }
	.des_cont .des_cont_inner .video .txt .slogan{font-size: 13px;}

	.des_cont .des_welfare .desc .logo{width: 130px;height: 100px;}

	.des_wrap .des_top a{width: 30px;height: 30px;position: relative;display: block;text-indent: -99999px;}
	.des_wrap .des_top a:before{content: '';display: block;width: 20px;height: 2px;;background: #999;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: -1px}
	.des_wrap .des_top a:after{content: '';display: block;width: 2px;height: 20px;;background: #999;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);margin-top: -10px}

	.des_cont .des_fair .img{max-width: 100%;}
	.des_cont .des_fair .img img{width: 100%}
	.des_open .item .left_area .img{max-width: 100%;;height: 80px}
	.des_open .item .left_area .img img{width: 100%}

	.des_bg_gray{padding:30px 0}
	.des_open.des_bg_gray {padding-top:0}
	.des_interview{margin:40px 0}
	 .des_btn_wrap {text-align: center;}
	 .des_btn_wrap button{max-width: 160px;width: calc(50% - 20px);font-size: 13px;padding: 7px 10px}

	.des_open .item{padding:10px}
	 .des_interview h3 span{display: block;margin-left: 0}
	.des_open .item .right_area .bottom{margin-top: 5px;padding-top:5px}

	.des_open .item .right_area,
	.des_sub .des_com_list .item .right_area{width: 100%}
	.des_open .item .right_area .cert{width: 100%}
	.des_wrap .like{width:25px;height:25px;background-size:17px;}
	.des_open .item .left_area .name,
	.des_open .item .right_area .tit_wrap .tit,
	.des_sub .des_com_list .item .tit,
	.des_sub .des_com_list .item .name{font-size:13px}
	.des_open .item .right_area .tit_wrap .tit{margin-left:0;width:calc(100% - 30px)}
	.des_open .item .right_area .area{margin-top:0}
	.des_open .item .right_area .cate{margin:5px 0}
	.des_open .item .right_area .support button{width:auto;font-size:12px;padding:4px 7px}

	.des_open .item .right_area .cert span,
	.des_sub .des_com_list .item .right_area .cert span{font-size: 11px;padding: 3px}
	.des_open .item .right_area .area{width: calc(100% - 20px);}
	.des_open .item .right_area .date{font-size: 10px}
	.des_sub .des_com_list .item .img{margin-bottom: 10px;height: 81px}
	.des_sub .des_com_list .item .right_area .etc  span{font-size: 11px}
	.des_sub .des_com_list .item .bottom{margin-top: 0}
	.des_sub .des_com_list .item .desc{margin: 5px 0 5px 0}

	.des_sub .des_com_list .item .desc{max-height: 2.4rem;-webkit-line-clamp:2}
	.des_sub .des_com_list .item{padding: 10px;}
	.des_wrap .des_open  .slick-dots{margin-top: 0}
.des_interview{margin:30px 0}
.des_goApp{padding:30px 0}

	.des_recom #recom_slide .slick-slide > div > div{padding: 5px }
	.des_recom #recom_slide .slick-list{margin: 0 -5px}

	.des_recom .item,
	.des_open .item,
	.des_recom .item{padding:10px}
	.des_recom .item .cate,
	.des_recom .item .desc{font-size:13px}
	.des_recom .item .name{font-size:14px;margin:5px 0}
	.des_recom .item .bottom{margin-top:10px;padding-top:10px}
	.des_recom .item .desc{height:auto;min-height:2.4rem}


	.des_detailArea{padding:15px}

	.publicJob_main .pj_cont_list .btn_wrap button{padding:5px 30px}

	.des_open .item .left_area .logo p,
	.des_open .item .left_area .long_txt p{font-size: 14px !important}
}

@media all and (max-width:320px){
	.des_cont .des_cont_inner .video .txt{display: none}
	.des_cont .des_welfare .desc{flex-direction: column-reverse;}
	.des_cont .des_welfare .desc .logo{width: 100%;margin: 10px 0;height: 100px}
	.des_cont .des_welfare .desc ul{width: 100%;}
}