#life_cycle h2, #ncs_edu h2, #job_edu h2, #announce h2, #covetous h2, #mov_news h2{position:relative;font-size:24px;font-weight:400;margin:0;}
#life_cycle h2 a, #ncs_edu h2 a, #job_edu h2 a, #announce h2 a, #covetous h2 a, #mov_news h2 a{position:absolute;top:8px;right:0;font-size:16px;color:#aaa;}

#goto_service{padding:56px 0;background-color:#f9f9f9;}
    #goto_service .count_wrap{float:right;width:240px;}
    #goto_service .count_wrap>div+div{margin-top:16px;}
    #goto_service .count_wrap h4{font-size:15px;font-weight:400;color:#666;}
    #goto_service .count_wrap span{color:#67c3be;font-size:36px;font-weight:700;display:inline-block;margin-right:4px;}
    #goto_service .goto_wrap{float:left;width:calc(100% - 300px);}
    #goto_service .goto_wrap>div{display:flex;justify-content:space-between;}
    #goto_service .goto_wrap>div a{display:block;flex:1;text-align:center;}
    #goto_service .goto_wrap>div a:hover, #goto_service .goto_wrap>div a.focus{color:#67c3be;font-weight:700;}
    #goto_service .goto_wrap>div a span{display:block;width:120px;height:120px;background-color:#fff;border-radius:50%;position:relative;margin:0 auto 12px;}
    #goto_service .goto_wrap>div a:hover span, #goto_service .goto_wrap>div a:focus span{background-color:rgba(103,195,190,.2);}
    #goto_service .goto_wrap>div a span::after{
        content:"";position:absolute;top:24px;left:24px;width:72px;height:72px;background-image:url(../images/newMain/ico_goto_service.png);
    }
    #goto_service .goto_wrap>div a.test span::after{background-position:0 0;}
    #goto_service .goto_wrap>div a.cons span::after{background-position:-72px 0;}
    #goto_service .goto_wrap>div a.prpr span::after{background-position:-144px 0;}
    #goto_service .goto_wrap>div a.comp span::after{background-position:-216px 0;}
    #goto_service .goto_wrap>div a.expo span::after{background-position:-288px 0;}
    #goto_service .goto_wrap>div a.regi span::after{background-position:-360px 0;}

#person_custom{margin:60px auto 0;display:flex;justify-content:space-between;flex-wrap:wrap;}
    #person_custom>div{
        flex:1 1 30%;background-color:#fff;box-shadow:0 0 10px 0 rgba(0,0,0,.07);border:1px solid rgba(0,0,0,.15);border-radius:8px;padding:24px;position:relative;
    }
    #person_custom>div+div{margin-left:20px;}
    #person_custom>div:nth-child(1){flex-basis:48%;background-color:rgba(86,158,247,.15);border-color:rgba(86,158,247,.3);}
    #person_custom>div:nth-child(2), #person_custom>div:nth-child(3){flex-basis:24%;}
    #person_custom>div:nth-child(4), #person_custom>div:nth-child(7){margin-left:0;margin-top:20px;}
    #person_custom>div:nth-child(5), #person_custom>div:nth-child(6), #person_custom>div:nth-child(8), #person_custom>div:nth-child(9){margin-top:20px;}
    #person_custom h3{position:relative;font-size:20px;font-weight:400;}
    #person_custom h3 a{position:absolute;top:6px;right:0;font-size:12px;color:#aaa;}
    #person_custom .dashboard{display:flex;justify-content:space-between;margin:16px 0;padding-bottom:24px;border-bottom:1px solid rgba(86,158,247,.3);}
    #person_custom .dashboard>div{flex:1;text-align:center;}
    #person_custom .dashboard>div span{
        display:inline-block;width:88px;height:88px;background-color:#fff;border-radius:50%;border:1px solid rgba(86,158,247,.3);margin-bottom:8px;
        font-size:32px;line-height:88px;
    }
    #person_custom .recruit_stat span{display:inline-block;font-size:13px;padding:2px 8px;border-radius:4px;color:#fff;margin-right:8px;}
    #person_custom .recruit_stat span.step1{background-color:rgba(0,50,129,.55);}
    #person_custom .recruit_stat span.step2{background-color:rgba(0,50,129,.7);}
    #person_custom .recruit_stat span.step3{background-color:rgba(0,50,129,.85);}
    #person_custom .recruit_stat span.step4{background-color:rgba(0,50,129,1);}
    #person_custom .recruit_stat li+li{margin-top:8px;padding-top:8px;border-top:1px dashed rgba(86,158,247,.3);}
    #person_custom .recomm_company, #person_custom .recomm_policy{width:100%;max-width:253px;margin-top:16px;/*height:290px;overflow:hidden;*/}
    #person_custom .recomm_company .slick-slide>div+div{margin-top:20px;}
    #person_custom .recomm_company .slick-slide a{text-align:center;}
    #person_custom .recomm_company .slick-slide img{display:inline-block;max-height:50px;}
    #person_custom .recomm_company .slick-slide a .logo{border:1px solid #ddd;border-radius:8px;padding:8px;height:68px;}
    #person_custom .recomm_company .slick-slide a .comNm{margin:12px 0 0;font-size:20px;}
    #person_custom .recomm_company .slick-slide a .rc_cnt{font-size:14px;color:#999;}
    #person_custom .recomm_company .slick-slide a .rc_cnt span{color:#003281;}
    #person_custom .recomm_company .slick-dots, #person_custom .recomm_policy .slick-dots{bottom:-32px;}
    #person_custom .recomm_company .slick-dots li, #person_custom .recomm_policy .slick-dots li{width:10px;height:10px;margin:0 4px;}
    #person_custom .recomm_company .slick-dots li button, #person_custom .recomm_policy .slick-dots li button{opacity:.2;}
    #person_custom .recomm_company .slick-dots li.slick-active button, #person_custom .recomm_policy .slick-dots li.slick-active button{opacity:.75;background-color:#003281;}
    #person_custom .recomm_policy .slick-slide a .thumb{position:relative;border:1px solid #ddd;border-radius:8px;overflow:hidden;}
    #person_custom .recomm_policy .slick-slide a .label{margin:16px 0 8px;font-size:12px;line-height:1.1;}
    #person_custom .recomm_policy .slick-slide a .label span{display:inline-block;border-width:1px;border-style:solid;border-color:#666;padding:1px 6px 2px;border-radius:10px;}
    #person_custom .recomm_policy .slick-slide a .label span+span{margin-left:4px;}
    #person_custom .recomm_policy .slick-slide a .label span.new{color:#38bab2;border-color:#38bab2;}
    #person_custom .recomm_policy .slick-slide a .label span.dday{color:#ec004b;border-color:#ec004b;}
    #person_custom .recomm_policy .slick-slide a .poltit{font-size:16px;}
    #person_custom .recruit_list{margin-top:8px;border:none;}
    #person_custom .recruit_list li{position:relative;padding-top:8px;}
    #person_custom .recruit_list li span{position:absolute;right:0;top:12px;font-size:14px;color:#999;line-height:16px;}
    #person_custom .recruit_list li+li{margin-top:8px;border-top:1px dashed #ccc;}
    #person_custom .recruit_list.nothing li{background-color:#f9f9f9;padding:10px 24px;border-radius:8px;text-align:center;color:#898989;}
    #person_custom .recruit_list.nothing li .go_guide a{
        display:inline-block;border:1px solid #38bab2;padding:2px 8px;background-color:#fff;border-radius:4px;color:#38bab2;margin-top:16px;
    }
#life_cycle{margin:60px auto 0;}
#ncs_edu{margin:60px auto 0;}
#job_edu{margin:60px auto 0;}
    #job_edu .job_edu_list{display:flex;justify-content:space-between;margin-top:24px;}
    #job_edu .job_edu_list>a{flex:1;}
    #job_edu .job_edu_list>a+a{margin-left:24px;}
    #job_edu .job_edu_list>a .thumb{border-radius:8px;overflow:hidden;line-height:1;position:relative;}
    #job_edu .job_edu_list>a .thumb::after{
        content:"";width:35px;height:35px;background-image:url(https://www.jobaba.net/resource/images/main/play_btn.png);
        position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);
    }
    #job_edu .job_edu_list>a .badge{margin:16px 0 4px;}
    #job_edu .job_edu_list>a .badge span{display:inline-block;font-size:12px;padding:2px 8px;border-radius:16px;}
    #job_edu .job_edu_list>a .badge span+span{margin-left:4px;}
    #job_edu .job_edu_list>a .badge span:nth-child(1){border:1px solid #333;background-color:#333;color:#fff;}
    #job_edu .job_edu_list>a .badge span:nth-child(2){border:1px solid #ff835f;color:#ff835f;}
    #job_edu .job_edu_list>a h3{font-size:20px;font-weight:400;letter-spacing:-1px;}
#announce{margin:60px auto 0;display:flex;justify-content:space-between;}
    #announce>div{flex:1;}
    #announce>div+div{margin-left:40px;}
#covetous{margin:60px auto 0;padding-bottom:20px;}
    #covetous .covetous_com{margin:24px -8px 0;}
    #covetous .covetous_com .slick-slide>div>a{padding:0 8px;vertical-align:top;}
    #covetous .covetous_com .slick-slide>div>a>div{position:relative;border:1px solid #e0e0e0;border-radius:16px;padding:20px;height:230px;}
    #covetous .covetous_com .slick-slide>div>a:hover>div, #covetous .covetous_com .slick-slide>div>a:focus>div{border-color:#38bab2;border-width:2px;}
    #covetous .covetous_com .slick-slide>div>a>div h3{font-size:22px;font-weight:400;letter-spacing:-1px;margin-bottom:16px;max-width:calc(100% - 24px);}
    #covetous .covetous_com .slick-slide>div>a>div p{color:#999;font-size:14px;}
    #covetous .covetous_com .slick-slide>div>a>div .logo{position:absolute;bottom:20px;left:20px;max-width:66%;filter:grayscale(100%);opacity:.5;}
    #covetous .covetous_com .slick-slide>div>a:hover>div .logo, #covetous .covetous_com .slick-slide>div>a:focus>div .logo{opacity:1;filter:grayscale(0%);}
    #covetous .covetous_com .slick-slide>div>a>div .favorite{
        position:absolute;top:20px;right:20px;width:16px;height:15px;background-image:url(https://www.jobaba.net/resource/images/main/heart_off.png);
    }
    #covetous .covetous_com .slick-slide>div>a>div .favorite.on{background-image:url(https://www.jobaba.net/resource/images/main/heart_on.png);}

    #covetous .covetous_com .slick-dots, #mov_news .movnews .slick-dots{bottom:-32px;}
    #covetous .covetous_com .slick-dots li, #mov_news .movnews .slick-dots li{width:12px;height:12px;margin:0 4px;}
    #covetous .covetous_com .slick-dots li button, #mov_news .movnews .slick-dots li button{opacity:.2;width:12px;height:12px;}
    #covetous .covetous_com .slick-dots li.slick-active button, #mov_news .movnews .slick-dots li.slick-active button{opacity:.75;background-color:#003281;}
#mov_news{margin:60px auto 0;padding-bottom:80px;}
    #mov_news h2 a::before{content:"\f16a  ";font-family:'FontAwesome';}
    #mov_news .movnews{margin:24px -12px 0;}
    #mov_news .movnews .slick-slide>div>a{padding:0 12px;vertical-align:top;}
    #mov_news .movnews .slick-slide>div>a .thumb{border-radius:8px;overflow:hidden;line-height:1;position:relative;max-height:166px}
    #mov_news .movnews .slick-slide>div>a .thumb img{transform:translateY(-14.06%);}
    #mov_news .movnews .slick-slide>div>a .thumb::after{
        content:"";width:35px;height:35px;background-image:url(https://www.jobaba.net/resource/images/main/play_btn.png);
        position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);
    }
    #mov_news .movnews .slick-slide>div>a h3{font-size:20px;font-weight:400;letter-spacing:-1px;margin:16px 0 4px;}
    #mov_news .movnews .slick-slide>div>a p{color:#999;font-size:14px;}
    