#uep_wrap .header{position:relative;background-color:#e1eff2;padding:0;}
    #uep_wrap .header .containerNew2{position:relative;min-height:280px;padding:50px 0;}
    #uep_wrap .header .containerNew2::before{
    content:"";position:absolute;bottom:0;right:0;width:420px;height:280px;
    background-image:url(../images/uep/bg_header_after.png);background-repeat:no-repeat;
    }
    #uep_wrap .header h2{font-size:36px;color:#285f74;}
    #uep_wrap .header .desc{font-size:16px;color:#285f74;margin-top:20px;}
    #uep_wrap .header .desc em{font-weight:700;}
    #uep_wrap .header a{
        display:inline-block;padding:15px 25px;font-size:16px;color:#000;margin-top:48px;
        background-color:#fff;border-radius:30px;box-shadow:0 0 5px 3px rgba(0,0,0,.1);
    }
    #uep_wrap .header a:hover, #uep_wrap .header a:focus{background-color:#38bab2;color:#fff;box-shadow:none;}

 #uep_wrap .test_info_wrap{margin:80px auto;}
    #uep_wrap .test_info_wrap .tit{font-size:32px;font-weight:300;}
    #uep_wrap .test_info_wrap .tit strong{font-weight:700;}
    #uep_wrap .test_info_wrap .strength{display:flex;justify-content:space-between;margin-top:48px;}
    #uep_wrap .test_info_wrap .strength > div{font-size:16px;flex:1;}
    #uep_wrap .test_info_wrap .strength div h3{font-size:24px;margin-bottom:16px;}
    #uep_wrap .test_info_wrap .strength > div+div{margin-left:56px;}
    #uep_wrap .test_info_wrap .config{margin:50px 0;}
    #uep_wrap .test_info_wrap .sample{text-align:center;}
    #uep_wrap .test_info_wrap a{display:inline-block;color:#333;font-size:16px;border:2px solid #333;border-radius:48px;padding:16px 32px;}
    #uep_wrap .test_info_wrap a:hover, #uep_wrap .test_info_wrap a:focus{background-color:#333;color:#fff;}

#uep_wrap .target_com_wrap{background-color:#f5f5f5;padding:80px 0;}
    #uep_wrap .target_com_wrap h3{text-align:center;font-size:32px;margin-bottom:32px;}
    #uep_wrap .target_com_wrap .containerNew2{display:flex;justify-content:space-between;}
    #uep_wrap .target_com_wrap .containerNew2 > div{flex:1;text-align:center;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box{
        background-color:#fff;border-radius:20px;padding:20px 20px 24px;width:380px;margin:0 auto;
        box-shadow:0 0 5px 3px rgba(0,0,0,.1);text-align:center;font-size:20px;font-weight:400;
    }
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box .thumb{border-radius:16px;overflow:hidden;line-height:0;margin-bottom:20px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box span{font-weight:700;color:#38bab2;}

#uep_wrap .process_wrap{margin:80px auto;}
    #uep_wrap .process_wrap .tit{font-size:32px;font-weight:300;}
    #uep_wrap .process_wrap .tit strong{font-weight:700;}
    #uep_wrap .process_wrap .desc_wrap{display:flex;align-items:flex-end;font-size:16px;}
    #uep_wrap .process_wrap .desc_wrap .tit{flex-shrink:0;width:360px;}
    #uep_wrap .process_wrap .desc_wrap div:nth-child(2){flex-grow:1;}
    #uep_wrap .process_wrap .process{background-color:#f5f5f5;padding:50px;border-radius:20px;margin:32px 0;display:flex;justify-content:space-between;}
    #uep_wrap .process_wrap .process > div{
        text-align:center;flex:1;position:relative;
        background-image:url(../images/comEdu/bg_process.png);background-repeat:no-repeat;background-position:50% 16px;
    }
    #uep_wrap .process_wrap .process > div:nth-child(1){background-image:url(../images/comEdu/bg_process_left.png);}
    #uep_wrap .process_wrap .process > div:nth-child(9){background-image:url(../images/comEdu/bg_process_right.png);}
    #uep_wrap .process_wrap .process > div.space::after{
        content:"";position:absolute;width:19px;height:33px;top:5px;left:50%;transform: translateX(-50%);
        background-image:url(../images/comEdu/bg_process_arrow.png);background-repeat:no-repeat;
    }
    #uep_wrap .process_wrap .process .num{
        display:block;width:48px;height:48px;border-radius:50%;background-color:#fff;border:2px solid #fff;
        font-size:18px;color:#999;line-height:44px;text-align:center;margin:0 auto 8px;
    }
    #uep_wrap .process_wrap .process .num.start{border-color:#38bab2;color:#38bab2;}
    #uep_wrap .process_wrap .process .num.end{background-color:#38bab2;border-color:#38bab2;color:#fff;}
    #uep_wrap .process_wrap .process > div p span{display:block;font-weight:300;font-size:14px;}
    #uep_wrap .process_wrap .goto{text-align:center;padding:16px 0 80px;}
    #uep_wrap .process_wrap a{display:inline-block;color:#38bab2;font-size:18px;border:3px solid #38bab2;border-radius:48px;padding:24px 42px;}
    #uep_wrap .process_wrap a:hover, #uep_wrap .process_wrap a:focus{background-color:#38bab2;color:#fff;}

@media all and (max-width:1024px){
    .containerNew2{width:calc(100% - 80px);}
    #uep_wrap .header .desc{max-width:55%;}
    #uep_wrap .test_info_wrap .strength div+div{margin-left:24px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box{width:90%;font-size:18px;}
}

@media all and (max-width:820px){
    .containerNew2{width:calc(100% - 60px);}
    #uep_wrap .header .desc{max-width:45%;}
    #uep_wrap .test_info_wrap .strength{margin-top:36px;}
    #uep_wrap .test_info_wrap .strength div h3{font-size:21px;}
    #uep_wrap .process_wrap .desc_wrap .tit{width:300px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box{padding:16px 16px 20px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box span{display:block;}
    #uep_wrap .process_wrap .process > div{flex-grow:1;flex:auto;}
    #uep_wrap .process_wrap .process > div:nth-child(2n){flex-shrink:0;width:24px;}
}

@media all and (max-width:768px){
    #uep_wrap .header .containerNew2::before{right:-30px;}
    #uep_wrap .test_info_wrap, #uep_wrap .process_wrap{margin:60px auto;}
    #uep_wrap .test_info_wrap .tit, #uep_wrap .process_wrap .tit{font-size:28px;}
    #uep_wrap .test_info_wrap .strength{margin-top:24px;}
    #uep_wrap .target_com_wrap{padding:60px 0;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box{font-size:16px;padding:8px 8px 16px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box .thumb{margin-bottom:12px;}
    #uep_wrap .process_wrap .desc_wrap .tit{width:240px;}
}

@media all and (max-width:480px){
    #uep_wrap .header .containerNew2::before{background-image:none;}
    #uep_wrap .header .desc{max-width:100%;}
    #uep_wrap .test_info_wrap .strength{flex-direction:column;}
    #uep_wrap .test_info_wrap .strength div h3{margin-bottom:8px;}
    #uep_wrap .test_info_wrap .strength div+div{margin:20px 0 0;}
    #uep_wrap .target_com_wrap .containerNew2{flex-direction:column;}
    #uep_wrap .target_com_wrap .containerNew2 > div+div{margin-top:24px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box{width:100%;padding:16px 16px 20px;font-size:18px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box .thumb{margin-bottom:20px;}
    #uep_wrap .target_com_wrap .containerNew2 > div .targrt_box span{display:inline;}
    #uep_wrap .process_wrap .desc_wrap{flex-direction:column;}
    #uep_wrap .process_wrap .desc_wrap .tit{width:100%;margin-bottom:24px;}
    #uep_wrap .process_wrap .process{padding:30px;flex-direction:column;}
    #uep_wrap .process_wrap .goto{padding:16px 0 60px;}
    #uep_wrap .process_wrap a{padding:20px 32px;}
    #uep_wrap .process_wrap .process > div{display:flex;text-align:left;align-items:center;}
    #uep_wrap .process_wrap .process .num{margin:0 16px 0 0;}
    #uep_wrap .process_wrap .process > div:nth-child(2n){width:24px;height:24px;transform: rotate(90deg);margin-left:20px;}
    #uep_wrap .process_wrap .process > div:nth-child(2n+1){background-image:none;}
    #uep_wrap .process_wrap .process > div.space::after{height:20px;background-size:contain;top:11px;left:65%;}
}