@import url('https://webfontworld.github.io/gonggames/EsaManru.css');



/* 테마 common*/
.wrapper-thema{background: #c1d4fa}
#theme {overflow-x: hidden}
#theme img{max-width: 100%}
#theme .blue01{color: #1a6475}
#theme .blue02{color: #04b5c6}
#theme .purple01{color: #6e1bcb}
#theme .purple02{color: #9a0cfe}
#theme .bold {font-weight: bold}
#theme .underline{text-decoration: underline}
#theme .italic{font-style: italic}
#theme .white_box{background: #fff;border-radius: 15px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);padding: 30px 40px}
#theme .bg_pink{background: #ff1ea2;padding: 5px  5px;border-radius: 5px }
#theme .bg_blue{background: #66acbf;color: #fff;padding:2px  5px}
.container1-full{position:relative;width:100%;padding:0;}
.container1{max-width:1000px;width: calc(100% - 40px);margin:0 auto;}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.f16{font-size: 16px}
.f17{font-size: 17px}
.f18{font-size: 18px}
.f20{font-size: 20px}
.f22{font-size: 22px}
.f24{font-size: 24px}
.f28{font-size: 28px}
.f34{font-size: 34px}
.f30{font-size: 30px}
.f40{font-size: 40px}
.f50{font-size: 50px}
.pd20 {padding: 20px !important}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}
.mt30{margin-top: 30px}
.mt50{margin-top: 50px}
.mt70{margin-top: 70px}
.mb30{margin-bottom: 30px}
.mg100{margin: 100px 0}
.mg60{margin: 60px 0}
.mg50{margin: 50px 0}
.mg40{margin: 40px 0}
.mg30{margin: 30px 0}
.trt{text-align: right}
.tlt{text-align: left}
.tct{text-align: center}
#theme .notoSans{font-family: 'Noto Sans KR' !important}
.white{color: #fff}
.gray{color: #8b8b8b}
.gray02{color: #555}
#theme .lh2 {line-height: 2}
#theme .orange{color: #ff581e}
#theme  .neon{background: #ffea91;padding: 2px 10px;border-radius: 10px;}
#theme .blue01{color: #0082ff}
#theme .blue02{color: #3a58ff}
#theme .blue03{color: #1a1a5e}
#theme .pink{color: #ff1ea2}
#theme .yellow{color: #ffeb60}
#theme *{letter-spacing: -0.3px}
#theme .hlt{position: relative;display: inline-block;
z-index: 1}
#theme .hlt:before{content: '';display: block;width: 100%;height: 8px;background: #ffdc00;border-radius: 20px;position: absolute;left: 50%;bottom: 5px;transform: translateX(-50%);z-index: -1;padding: 0 5px}
#theme .red{color: #ff2020}
.section_pd{padding: 40px 0}
.section_mg{margin: 40px 0}

.bg01{background: url(../resource/images/thema/220602/bg1.png) no-repeat;padding: 50px 0;background-size: cover}
.section01{position: relative;}
.section01:after{content: '';display: block;background: url(../resource/images/thema/220602/tit01_img.png) no-repeat;width: 1164px;height: 668px;margin: -50px auto 0 auto}
.section01 {text-align: center}
.section01 .top{background: #ff2020;font-size: 16px;color: #fff;font-weight: 600;display: inline-block;padding: 6px 30px;border-radius: 50px}
.section01 .f40{margin: 25px 0 20px 0;font-weight: 400;color: #220055}
.section01 .f40 strong{font-weight: bold;}
.section01 .txt{font-weight: bold;} 


/* POP */
.item_pop:before{content: '';display: block;background: url(../resource/images/thema/220602/pop_top.png) no-repeat;width: 21px;height: 18px;position: absolute;left: 50%;transform: translateX(-50%);top: -15px;z-index: 999}

.item_pop .ip_header{background: #004abe;padding: 10px 20px;color: #fff;position: relative;display: flex;justify-content:space-between;align-items: center;}
.item_pop .ip_header p{font-size: 20px;font-weight: 600}
.item_pop .ip_header button{background: url(../resource/images/thema/220602/close.png) no-repeat;width: 19px;height: 15px;text-indent: -9999px;}
.item_pop .ip_inner{padding: 20px}
.item_pop .ip_inner .ip_table table{border-collapse: collapse;width: 100%}
.item_pop .ip_inner .ip_table table th,
.item_pop .ip_inner .ip_table table td{border: 1px solid #d8d8d8;padding: 10px}
.item_pop .ip_inner .ip_table table th {font-size: 14px;background: #eeeeee;}
.item_pop .ip_inner .ip_table table td{font-size: 14px;color: #494949;}
.item_pop .ip_inner .blue_tit{color: #004abe;text-align: center;margin: 20px 0 10px 0;font-size: 22px;font-weight: bold;}
.item_pop .ip_inner dl dt,
.item_pop .ip_inner dl dd{border: 1px solid #d8d8d8;padding: 10px;}
.item_pop .ip_inner dl dt{border-bottom: 0}
.item_pop .ip_inner dl dt{font-weight: bold;background: #e5f9fd;font-size: 15px}
.item_pop .ip_inner dl dd{font-size: 14px;color: #494949}

.item_pop .btn_wrap {text-align: center;margin-top: 20px}
.item_pop .btn_wrap .link_btn{background: #004abe;color: #fff;font-size: 16px;font-weight: 500;padding: 7px 50px;border-radius: 10px;display: inline-block;}
.item_pop{position: absolute;background: #fff;z-index: 5;border:3px solid #004abe;border-radius: 10px;width: calc(100% + 200px);left: 50%;transform: translateX(-50%);transition: all 0.5s;top: 100%;display: none}
.item_pop.active{display: block;}

/*퀵메뉴*/ 
.qContainer{position: relative}
.quick_menu {left:30px;top: 100px;position: fixed;z-index:1000;} 
.quick_menu.fixed {position: fixed;top: 100px;} 

.quick_menu li{margin-bottom: 5px;}
.quick_menu li a{display: block;width: 120px;padding: 7px 10px;border-radius: 5px;color: #fff;font-weight: 500;position: relative}
.quick_menu li:last-child{margin-bottom: 0}
.quick_menu li:nth-child(1) a{background: #004abe}
.quick_menu li:nth-child(2) a{background: #ff4a79}
.quick_menu li:nth-child(3) a{background: #00ab30}
.quick_menu li:nth-child(4) a{background: #fd6114}
.quick_menu li:nth-child(5) a{background: #a206be}
.quick_menu li.on a:after{content: '';display: block;background: url(../resource/images/thema/220602/arrow.png) no-repeat;width: 8px;height: 10px;position: absolute;right: 10px;top: 50%;transform: translateY(-50%)}
.quick_menu li a:hover:after,
.quick_menu li a:focus:after,
.quick_menu li a:active:after{content: '';display: block;background: url(../resource/images/thema/220602/arrow.png) no-repeat;width: 8px;height: 10px;position: absolute;right: 10px;top: 50%;transform: translateY(-50%)}

.ico_tit{text-align: center;color: #003281;font-size: 20px;margin-bottom: 30px}
.ico_tit:before{content: '';display: block;;background: url(../resource/images/thema/220602/tit_ico.png) no-repeat;width: 70px;height: 58px;margin: 0 auto 5px auto}

.quick_area{display: flex;justify-content: space-between;}
.quick_area > div{background: #fff;width: calc(25% - 20px);margin-right:25px;height: 200px;position: relative;border-radius:  50px 10px 10px 10px;overflow: hidden;transition: all 0.5s}
.quick_area > div:last-child{margin-right: 0;}
.quick_area > div a{display: block;width: 100%;height: 100%}
.quick_area > div:before{content: '';display: block;width: 100px;height: 100px;background: #000;border-radius: 50%;position: absolute;right: -30px;top: -35px}
.quick_area > div.item01:before{background: #004abe} 
.quick_area > div.item02:before{background: #ff4a79} 
.quick_area > div.item03:before{background: #00ab30} 
.quick_area > div.item04:before{background: #fd6114} 
.quick_area > div.item05:before{background: #a206be} 
.quick_area > div span{color: #000;position: absolute;right:15px;top: 15px;font-size: 20px;font-weight: bold;color: #fff;display: block;}
.quick_area > div.item03:before,
.quick_area > div.item04:before{right: -20px}
.quick_area > div.item03 span,
.quick_area > div.item04 span{right: 10px;}
.quick_area > div.item05:before{right: -15px;}
.quick_area > div.item05 span{right: 5px;}
.quick_area > div.item01{background: url(../resource/images/thema/220602/quick_img01.png) no-repeat #fff bottom center}
.quick_area > div.item02{background: url(../resource/images/thema/220602/quick_img02.png) no-repeat #fff bottom center}
.quick_area > div.item03{background: url(../resource/images/thema/220602/quick_img03.png) no-repeat #fff bottom center}
.quick_area > div.item04{background: url(../resource/images/thema/220602/quick_img04.png) no-repeat #fff bottom center}
.quick_area > div.item05{background: url(../resource/images/thema/220602/quick_img05.png) no-repeat #fff bottom center}

.quick_area > div span:after{content: 'Click →';display: block;color: #fff767;font-size: 16px;display: block;position: absolute;width: 60px;right: -100px;top: 30px; text-align: right;transition: all 0.5s}
.quick_area > div:hover span:after,
.quick_area > div:active span:after,
.quick_area > div:focus span:after{right: 0}

.quick_area > div:hover:before{display: none}

.quick_area > div.item01:hover,
.quick_area > div.item01:active,
.quick_area > div.item01:focus {background-color: #004abe;}
.quick_area > div.item02:hover,
.quick_area > div.item02:active,
.quick_area > div.item02:focus {background-color: #ff4a79}
.quick_area > div.item03:hover,
.quick_area > div.item03:active,
.quick_area > div.item03:focus {background-color: #00ab30}
.quick_area > div.item04:hover,
.quick_area > div.item04:active,
.quick_area > div.item04:focus {background-color: #fd6114}
.quick_area > div.item05:hover,
.quick_area > div.item05:active,
.quick_area > div.item05:focus {background-color: #a206be}

.target{padding: 70px 0}
.box_area{background: #fff;padding: 100px 60px 30px 60px;border-radius: 5px;box-shadow:  2px 2px 0 5px rgba(0, 0, 0, 0.08);position: relative;position: relative;}
.box_area.section02{margin-top: 80px}
.box_area.section02:after{content: '';display: block;background: url(../resource/images/thema/220602/tit01_after.png);width: 312px;height: 351px;position: absolute;right: 100px;bottom: -30px}
.box_area .top_tit{width: 100px;margin: auto;position: absolute;left: 50%;transform: translateX(-50%);top: -50px}
.box_area .top_tit .ico{display: block;height: 100px;border-radius: 50%;background: #ddd}
.box_area .top_tit .txt{text-align: center;font-size: 22px;font-weight: bold;margin-top: 5px;}
.box_area.section02 .top_tit .ico{background: url(../resource/images/thema/220602/tit_img01.png) no-repeat bottom #004abe;}

.box_area .item_wrap{display: flex;flex-wrap: wrap}
.box_area .item_wrap > div{width: calc(50% - 10px);margin-right: 20px;margin-top: 50px;position: relative}
.box_area .item_wrap > div:nth-child(2n){margin-right: 0}
.box_area .item_wrap > div:nth-child(-n + 2){margin-top: 20px}
.box_area a{text-align: center;}
.box_area .img{border-radius: 10px;overflow: hidden;}
.box_area .img img{display: block;transition: all 0.3s;width: 100%}
.box_area .tit{font-size: 20px;font-weight: bold;margin: 15px 0 8px 0;}
.box_area .tit span{display: inline-block;position: relative;z-index: 1}
.box_area .tit span:before{content: '';display: block;width: 0;height: 10px;background: rgba(0, 74, 190, 0.4);position: absolute;bottom: 0;z-index: -1;transition: all 0.3s}


.box_area a:hover span:before,
.box_area a:active span:before,
.box_area a:focus span:before{width: 100%;}

.section03 .tit span:before{background: rgba(255, 74, 121, 0.4) !important}
.section04 .tit span:before{background: rgba(0, 171, 48, 0.4) !important}
.section05 .tit span:before{background: rgba(253, 97, 20, 0.4) !important}
.section06 .tit span:before{background: rgba(162, 6, 190, 0.4) !important}


.box_area .desc{color: #494949;font-weight: 500}
.box_area a:hover .img img,
.box_area a:active .img img, 
.box_area a:focus .img img{transform: scale(1.2)}

.section03{background: url(../resource/images/thema/220602/bg2.png) no-repeat;background-size: cover}
.section03 .box_area .ico{background: url(../resource/images/thema/220602/tit_img02.png) no-repeat bottom #ff4a79}

.section04{background: url(../resource/images/thema/220602/bg3.png) no-repeat;background-size: cover}
.section04 .box_area .top_tit .ico{background: url(../resource/images/thema/220602/tit_img04.png) no-repeat bottom #00ab30;}

.section05{background: url(../resource/images/thema/220602/bg4.png) no-repeat;background-size: cover}
.section05 .box_area .top_tit .ico{background: url(../resource/images/thema/220602/tit_img05.png) no-repeat bottom #fd6114;}

.section05 .box_area:after{content: '';display: block;background: url(../resource/images/thema/220602/tit03_after.png);width: 497px;height: 354px;position: absolute;right: -50px;bottom: -50px}

.section06{background: url(../resource/images/thema/220602/bg5.png) no-repeat}
.section06 .box_area .top_tit .ico{background: url(../resource/images/thema/220602/tit_img06.png) no-repeat bottom #a206be;}

.emp_txt{background: #004abe;padding: 20px;border-radius: 5px;margin: 30px 0}
.emp_txt.item01{background: #004abe}
.emp_txt.item02{background: #ff4a79}
.emp_txt.item03{background: #00ab30}
.emp_txt.item04{background: #fd6114}
.emp_txt.item05{background: #a206be}
.emp_txt .tit{font-size: 22px;font-weight: bold;color: #fff767;margin-bottom: 5px}
.emp_txt .desc{font-size: 16px;color: #fff;}
.emp_txt > div{display:none;}
.emp_txt > div:nth-child(1){display:block;}
.section07{padding: 50px 0;background: url(../resource/images/thema/220602/bg6.png) bottom center no-repeat #ebf6ff;}
.section07 .item_wrap{display: flex;flex-wrap: wrap;}
.section07 .item{text-align: center;width: calc(33.333% - 46.666px);margin-right: 70px;margin-top: 40px}
.section07 .item:nth-child(3n){margin-right: 0}
.section07 .item:nth-child(-n+3){margin-top: 0}
.section07 .item .img{border-radius: 5px;overflow: hidden;}
.section07 .item .img img{display: block;width: 100%;transition: all 0.3s}
.section07 .item .tit{font-size: 20px;font-weight: bold;margin: 15px 0 7px 0}
.section07 .item .desc{color: #494949;margin: 10px 0 15px 0;font-size: 15px}
.section07 .item button{background: #003281;color: #fff;padding: 3px 30px;border-radius: 30px;}
.section07 .item a:hover img,
.section07 .item a:active img,
.section07 .item a:focus img{transform: scale(1.2)}

.section07 .item a:hover .desc,
.section07 .item a:active .desc,
.section07 .item a:focus .desc{text-decoration: underline}


@media all and (max-width:1260px)
{
	.quick_menu{display:none;}
	.item_pop{width:calc(100% + 100px);}
	.section01:after{margin-left:50%;transform:translateX(-50%);}
	.section07 .item_wrap{justify-content:center;}
	.section07 .item{width:calc(33.333% - 30px);margin-right:30px;}
}

@media all and (max-width:966px){
	
}

@media all and (max-width:768px){
	.box_area.section02:after{right:0;}
	.section05 .box_area:after{width:360px;height:320px;background-size:cover;}
	.section07 .item{width:calc(50% - 30px);margin-right:30px;margin-top:30px!important;}
	.section07 .item:nth-child(2n){margin-right:0;}
	.section07 .item:nth-child(2n+1){margin-right:30px;}
	.section07 .item:nth-child(1), .section07 .item:nth-child(2){margin-top:0!important;}
}

@media all and (max-width:640px){
	.f22{font-size: 14px}
	.f18{font-size: 14px}
	.f16 {font-size: 13px}
	.f17{font-size: 14px}
	.f30{font-size: 16px}
	.f24{font-size: 18px}
	.f20{font-size: 15px}
	.f16{font-size: 12px}
	.f50{font-size: 26px}
	.mg100{margin: 30px 0}
	.mg60{margin: 30px 0}
	.mt50{margin-top: 20px}

}


@media all and (max-width:480px){
	.f22{font-size: 13px}
	.f18{font-size: 12px}
	.f30{font-size: 15px}
	.f40{font-size: 24px}
	.f24{font-size: 16px}
	.mg100{margin-top: 40px}
	.mg60{margin: 20px 0}
	.section01:after{width:120%;height:300px;background-size:cover;margin:0 -0 0 50%;transform:translateX(-50%);}
	.quick_area > div{margin-right:8px;height:120px;}
	.quick_area > div:before{right:-20px;top:-40px;}
	.quick_area > div span{font-size:15px;letter-spacing:-1px;}
	.quick_area > div.item01, .quick_area > div.item03, .quick_area > div.item04, .quick_area > div.item05{
		background-size:contain;
	}
	.quick_area > div.item02{background-size:50% 45%;}
	.emp_txt .tit{font-size:18px;}
	.emp_txt .desc{font-size:14px;}
	.box_area{padding:90px 30px 30px;}
	.box_area .item_wrap > div{width:100%;margin:0 0 30px;}
	.box_area .tit{font-size:18px;}
	.box_area .desc{font-size:14px;font-weight:400;}
	.item_pop {width: calc(100% + 80px);}
	.box_area.section02:after, .section05 .box_area:after{display:none;}
	.section07 .item{width:75%;margin:0 0 30px!important;}
	.section07 .item .tit{font-size:18px;}
	.section07 .item .desc{font-size:14px;font-weight:400;}
}

@media all and (max-width:360px){

}


@media all and (max-width:320px){
	
}